extends ../layouts/layout-beta.pug

block content
  #content.hero.theme--white
    .container
      h1 Statutory Instrument prototypes
      p Static HTML prototyping of Parliamentary statutory instrument related web services.

  section
    .container
      h2 Active prototypes
      ul.list--bullet
        li #[+link('/templates/si-tracker-2016/index.html', 'Statutory Instrument Tracker (2016)')]
