extends ../layouts/layout-beta.pug

block content
  #content.hero.theme--white
    .container
      h1 Statutory Instrument prototypes
      p Static HTML prototyping of Parliamentary statutory instrument related web services.

  section
    .container
      h2 Active prototypes
      ul.list--bullet
        li #[+link('/templates/si-prototype-v4/index.html', 'SI Prototypes (Version 4)')]
        li #[+link('/templates/si-prototype-v3/index.html', 'SI Prototypes (Version 3)')]

  section
    .container
      h2 Development prototypes
      ul.list--bullet
        li #[+link('/templates/si-flowchart/index.html', 'SI Flowchart Prototypes')]
        li #[+link('/templates/si-prototype-data-view/index.html', 'SI Data Item Prototypes')]

  section
    .container
      h2 Archived prototypes
      ul.list--bullet
        li #[+link('/templates/si-show-tell/index.html', 'Show & Tell Prototypes (May 2018)')]
        li #[+link('/templates/si-prototype-v2/index.html', 'SI Prototypes (Version 2)')]
        li #[+link('/templates/si-prototype-v1/index.html', 'SI Prototypes (Version 1)')]
        li #[+link('/templates/si-testing/index.html', 'SI Testing (27 Mar 2018)')]
        li #[+link('/templates/si-tracker-2016/index.html', 'Statutory Instrument Tracker (2016)')]
