extends ../../layouts/layout-beta-status.pug

block content
  #content
    .container
      h1 Restriction on the Preparation of Adoption Reports (Amendment) Regulations 2018
      ul
        li Subject to the #[+link('#', 'draft affirmative procedure')]
        li #[+link('#', 'Read the related information')]

  .section.section--wide
    .container
      h2 Completed steps
      ul.step-container
        li
          ul.step-grid
            li.step-0.external Instrument created
          ul.step-grid
            li.step-1-1.commons Laid before the House of Commons 
            li.step-1-2.lords Laid before the House of Lords
          ul.step-grid
            li.step-2-1.commons Considered for English votes for English laws (EVEL) certification
            li.step-2-2.commons Motion to approve the instrument tabled by the Government
            li.step-2-3.commons Considered by the Select Committee on Statutory Instruments (SCSI)
            li.step-2-4.joint Considered by the Joint Committee on Statutory Instruments (JCSI)
            li.step-2-5.lords Considered by the Secondary Legislation Scrutiny Committee (SLSC)
          ul.step-grid
            li.step-3-1.commons Certified as England only under the English votes for English laws (EVEL) process
            li.step-3-2.commons Certified as England and Wales only under the English votes for English laws (EVEL) process
            li.step-3-3.commons Certified as England, Wales and NI only under the English votes for English laws (EVEL) process
            li.step-3-4.commons Not certfied under the English votes for English laws (EVEL) process
            li.step-3-5.commons Decision made by the Select Committee on Statutory Instruments (SCSI)
            li.step-3-6.joint Decision made by the Joint Committee on Statutory Instruments (JCSI)
            li.step-3-7.lords Decision made by the Secondary Legislation Scrutiny Committee (SLSC)
          ul.step-grid
            li.step-4-1.commons Scheduled for a Delegated Legislation Committee (DLC) debate
            li.step-4-2.commons Scheduled for Chamber debate
            li.step-4-3.commons Approval motion withdrawn
            li.step-4-4.commons No concerns raised / reported on by the Select Committee on Statutory Instruments (SCSI)
            li.step-4-5.joint No concerns raised / reported on by the Joint Committee on Statutory Instruments (JCSI)
            li.step-4-6.lords No concerns raised / reported on by the Secondary Legislation Scrutiny Committee (SLSC)
          ul.step-grid
            li.step-5-1.commons Delegated Legislation Committee (DLC) debate
            li.step-5-2.commons Chamber debate
            li.step-5-3.joint Joint Committee on Statutory Instruments (JCSI) scrutiny reserve lifted
          ul.step-grid
            li.step-6-1.commons Decision on motion to approve the instrument
            li.step-6-2.lords Motion to approve the instrument tabled by the Government
            li.step-6-3.lords Approval motion withdrawn
          ul.step-grid
            li.step-7-1.lords Motion to consider withdrawn
            li.step-7-2.lords Motion to consider
            li.step-7-3.lords Fatal amendment
            li.step-7-4.lords Non-fatal amendment
          ul.step-grid
            li.step-8-1.lords Scheduled for debate in Grand Committee
            li.step-8-2.lords Scheduled for a Chamber debate
            li.step-8-3.lords Fatal amendment withdrawn
            li.step-8-4.lords Non-fatal amendment withdrawn
          ul.step-grid
            li.step-9-1.lords Debate in Grand Committee
            li.step-9-2.lords Chamber debate
            li.step-9-3.lords Non-fatal amendment decision
            li.step-9-4.lords Fatal amendment decision
          ul.step-grid
            li.step-10.lords Decision on motion to approve the instrument
          ul.step-grid
            li.step-11-1.commons Commons only approval
            li.step-11-2.joint Bicameral approval 
            li.step-11-3.external Instrument dead
          ul.step-grid
            li.step-12.external Made
          ul.step-grid
            li.step-13.external Coming into force
