extends ../../layouts/layout-beta-status.pug

block content
  #content
    .section.section--wide
      .container
        h1 Draft affirmative procedure
        p Find out more about the #[+link('#', 'draft affirmative procedure')]
        .section--major
          ul.step-container
            li
              ul.step-grid
                li.step-0
                  ul
                    li Instrument created
              ul.step-grid
                li.step-1-1
                  ul
                    li House of Commons
                    li Laid before the House of Commons
                li.step-1-2
                  ul
                    li House of Lords
                    li Laid before the House of Lords
              ul.step-grid
                li.step-2-1
                  ul
                    li House of Commons
                    li Considered for English votes for English laws (EVEL) certification
                li.step-2-2-alt
                  ul
                    li House of Commons
                    li Motion to approve the instrument tabled by the Government
                li.step-2-3 
                  ul
                    li House of Commons
                    li Considered by the Select Committee on Statutory Instruments (SCSI)
                li.step-2-4
                  ul
                    li Commons &amp; Lords
                    li Considered by the Joint Committee on Statutory Instruments (JCSI)
                li.step-2-5
                  ul
                    li House of Lords 
                    li Considered by the Secondary Legislation Scrutiny Committee (SLSC)
              ul.step-grid
                li.step-3-1
                  ul
                    li House of Commons
                    li Certified as England only under the English votes for English laws (EVEL) process
                li.step-3-2
                  ul
                    li House of Commons
                    li Certified as England and Wales only under the English votes for English laws (EVEL) process
                li.step-3-3
                  ul
                    li House of Commons
                    li Certified as England, Wales and NI only under the English votes for English laws (EVEL) process
                li.step-3-4
                  ul 
                    li House of Commons
                    li Not certfied under the English votes for English laws (EVEL) process
                li.step-3-5
                  ul 
                    li House of Commons
                    li Decision made by the Select Committee on Statutory Instruments (SCSI)
                li.step-3-6
                  ul
                    li Commons &amp; Lords
                    li Decision made by the Joint Committee on Statutory Instruments (JCSI)
                li.step-3-7
                  ul
                    li House of Lords
                    li Decision made by the Secondary Legislation Scrutiny Committee (SLSC)
              ul.step-grid
                li.step-4-1
                  ul
                    li House of Commons
                    li Scheduled for a Delegated Legislation Committee (DLC) debate
                li.step-4-2
                  ul
                    li House of Commons
                    li Scheduled for Chamber debate
                li.step-4-3
                  ul
                    li House of Commons
                    li Approval motion withdrawn
                li.step-4-4
                  ul
                    li House of Commons
                    li No concerns raised / reported on by the Select Committee on Statutory Instruments (SCSI)
                li.step-4-5
                  ul
                    li Commons &amp; Lords
                    li No concerns raised / reported on by the Joint Committee on Statutory Instruments (JCSI)
                li.step-4-6
                  ul
                    li House of Lords
                    li No concerns raised / reported on by the Secondary Legislation Scrutiny Committee (SLSC)
              ul.step-grid
                li.step-5-1
                  ul
                    li House of Commons
                    li Delegated Legislation Committee (DLC) debate
                li.step-5-2
                  ul
                    li House of Commons
                    li Chamber debate
                li.step-5-3
                  ul
                    li Commons &amp; Lords
                    li Joint Committee on Statutory Instruments (JCSI) scrutiny reserve lifted
              ul.step-grid
                li.step-6-1-alt
                  ul
                    li House of Commons
                    li Decision on motion to approve the instrument
                li.step-6-2
                  ul
                    li House of Lords
                    li Motion to approve the instrument tabled by the Government
                li.step-6-3
                  ul
                    li House of Lords
                    li Approval motion withdrawn
              ul.step-grid
                li.step-7-1
                  ul
                    li House of Lords
                    li Motion to consider withdrawn
                li.step-7-2
                  ul
                    li House of Lords
                    li Motion to consider
                li.step-7-3
                  ul 
                    li House of Lords
                    li Fatal amendment
                li.step-7-4
                  ul
                    li House of Lords
                    li Non-fatal amendment
              ul.step-grid
                li.step-8-1
                  ul
                    li House of Lords
                    li Scheduled for debate in Grand Committee
                li.step-8-2
                  ul
                    li House of Lords
                    li Scheduled for a Chamber debate
                li.step-8-3
                  ul
                    li House of Lords
                    li Fatal amendment withdrawn
                li.step-8-4
                  ul
                    li House of Lords
                    li Non-fatal amendment withdrawn
              ul.step-grid
                li.step-9-1
                  ul
                    li House of Lords
                    li Debate in Grand Committee
                li.step-9-2
                  ul
                    li House of Lords
                    li Chamber debate
                li.step-9-3
                  ul
                    li House of Lords
                    li Non-fatal amendment decision
                li.step-9-4
                  ul
                    li House of Lords
                    li Fatal amendment decision
              ul.step-grid
                li.step-10
                  ul
                    li House of Lords
                    li Decision on motion to approve the instrument
              ul.step-grid
                li.step-11-1
                  ul
                    li House of Commons
                    li Commons only approval
                li.step-11-2
                  ul
                    li Commons &amp; Lords
                    li Bicameral approval
                li.step-11-3
                  ul
                    li Instrument dead
              ul.step-grid
                li.step-12
                  ul
                    li Made
              ul.step-grid
                li.step-13
                  ul
                    li Coming into force
