extends ../../layouts/layout-beta.pug

block content
  #content.section--primary
    .container
      h1 SI Flowcharts

      ul.list--bullet
        li #[+link('completed-only.html', 'Completed Steps Only (first draft)')]
        li #[+link('draft-affirmative.html', 'Full Draft Affirmative Procedure')]
