extends ../../layouts/layout-beta-status.pug

block content
  #content
    .container
      h1 Restriction on the Preparation of Adoption Reports (Amendment) Regulations 2018
      ul
        li Subject to the #[+link('#', 'draft affirmative procedure')]
        li #[+link('#', 'Read the related information')]

  .section.section--wide
    .container
      h2 Completed steps
      ol.flowchart
        li
          ul.list--block
            li.st0 Instrument created
          ul.list--block.list--2.stm
            li.st1-1 Laid before the House of Commons 
            li.st1-2 Laid before the House of Lords
          ul.list--block.list--4.stm
            li.st2-1 Considered for English votes for English laws (EVEL) certification
            li.st2-2 Motion to approve the instrument tabled by the Government
            li.st2-3 Considered by the Joint Committee on Statutory Instruments (JCSI)
            li.st2-4 Considered by the Secondary Legislation Scrutiny Committee (SLSC)
          ul.list--block.list--4.stm--small
            li.st3-1 Certified as England and Wales only under the English votes for English laws (EVEL) process
            li.st3-2 Scheduled for a Delegated Legislation Committee (DLC) debate
            li.st3-3 Decision made by the Joint Committee on Statutory Instruments (JCSI)
            li.st3-4 Decision made by the Secondary Legislation Scrutiny Committee (SLSC)
          ul.list--block.list--4.stm--small
            li.st4-1
            li.st4-2 Delegated Legislation Committee (DLC) debate
            li.st4-3 No concerns raised by the Joint Committee on Statutory Instruments (JCSI)
            li.st4-4 No concerns raised by the Secondary Legislation Scrutiny Committee (SLSC)
          ul.list--block.list--4.stm--small
            li.st5-1
            li.st5-2 Decision on motion to approve the instrument
            li.st5-3 Joint Committee on Statutory Instruments (JCSI) scrutiny reserve lifted
            li.st5-4
          ul.list--block.list--4.stm
            li.st6-1
            li.st6-2 Instrument approved
            li.st6-3 Motion to approve the instrument tabled by the Government
            li.st6-4
          ul.list--block.list--4.stm--small
            li.st7-1
            li.st7-2
            li.st7-3 Scheduled for a Chamber debate
            li.st7-4
          ul.list--block.list--4.stm--small
            li.st8-1
            li.st8-2
            li.st8-3 Chamber debate
            li.st8-4
          ul.list--block.list--4.stm--small
            li.st9-1
            li.st9-2
            li.st9-3 Decision on motion to approve the instrument
            li.st9-4
          ul.list--block.list--4.stm--small
            li.st10-1
            li.st10-2
            li.st10-3 Instrument approved
            li.st10-4
          ul.list--block.list--4.stm
            li.st11-1
            li.st11-2 Instrument approved by the House of Commons and House of Lords 
            li.st11-3
            li.st11-4
          ul.list--block.list--4.stm--small
            li.st12-1
            li.st12-2 Instrument made (signed into law)
            li.st12-3
            li.st12-4
