extends ../../layouts/layout-beta.pug

block content
  #content.section--primary
    .container
      h1 Draft affirmative procedure

      ol.list--block
        li
          .list--details
            h2 #[+link('affirmative-date.html', 'Restriction on the Preparation of Adoption Reports (Amendment) Regulations 2018')]
            p Laid before Parliament on 16 April 2018 by government department
        li
          .list--details
            h2 #[+link('affirmative-date.html', 'Cash Ratio Deposits (Value Bands and Ratios) Order 2018')]
            p Laid before Parliament on 16 April 2018 by government department
        li
          .list--details
            h2 #[+link('affirmative-date.html', 'Package Travel and Linked Travel Arrangements Regulations 2018')]
            p Laid before Parliament on 16 April 2018 by government department
        li
          .list--details
            h2 #[+link('affirmative-date.html', 'Exotic Disease in Animals (Amendment) (England) (EU Exit) Regulations 2018')]
            p Laid before Parliament on 11 Apr 2018 by government department
        li
          .list--details
            h2 #[+link('affirmative-date.html', 'Double Taxation Relief (Base Erosion and Profit Shifting) Order 2018')]
            p Laid before Parliament on 28 March 2018 by government department
