extends ../../layouts/layout-beta.pug

block content
  #content.section--primary
    .container
      h1 Made affirmative procedure

      ol.list--block
        li
          .list--details
            h2 #[+link('affirmative-date.html', 'Double Taxation Relief (Base Erosion and Profit Shifting) Order 2018')]
            p Laid before Parliament on 28 March 2018 by government department
        li
          .list--details
            h2 #[+link('affirmative-date.html', 'Special Immigration Appeals Commission (Procedure) (Amendment) Rules 2018')]
            p Laid before Parliament on 28 March 2018 by government department
        li
          .list--details
            h2 #[+link('affirmative-date.html', 'Licensing Act 2003 (Royal Wedding Licensing Hours) Order 2018')]
            p Laid before Parliament on 21 March 2018 by government department
        li
          .list--details
            h2 #[+link('affirmative-date.html', 'The Health and Safety (Miscellaneous Amendments) (EU Exit) Regulations 2018')]
            p Laid before Parliament on 17 March 2018 by government department
        li
           .list--details
            h2 #[+link('affirmative-date.html', 'The Timber and Timber Products (Placing on the Market) (EU Exit) Regulations 2018')]
            p Laid before Parliament on 4 March 2018 by government department
