extends ../../layouts/layout-beta.pug

block content
  #content.section--primary
    .container
      h1 Exotic Disease in Animals (Amendment) (England) (EU Exit) Regulations 2018

  section
    .container
      h2 About the statutory instrument
      ul
        li This is a draft #[+link('https://www.parliament.uk/site-information/glossary/affirmative-procedure/', 'affirmative statutory instrument (SI)')]
        li Laid by the #[+link('https://devci.parliament.uk/groups/5LQ5Ar74', 'Department for Environment, Food and Rural Affairs')] on 11 April 2018
        li #[+link('http://www.legislation.gov.uk/uksi/2018/506/introduction/made', 'Read the SI, its purpose and related information')]

  section
    .container
      h2 Completed stages
      ul.track--alternative
        li
          h3 11 April 2018
          ul.list--block
            li
              .list--details
                p
                  span.hint House of Commons
                  span.hint House of Lords
                ul
                  li Statutory instrument exists
                  li Laid before the House of Commons
                  li Laid before the House of Lords
        li
          h3 13 April 2018
          ul.list--block
            li
              .list--details
                p
                  span.hint House of Commons
                ul
                  li Considered for English Votes for English Laws certification by the Speaker
                  li Certified as England Only 
        li
          h3 19 April 2018
          ul.list--block
            li
              .list--details
                p
                  span.hint House of Commons
                  span.hint House of Lords
                ul
                  li Consideration by the Joint Committee on Statutory Instruments
                  li Consideration concluded by the Joint Committee on Statutory Instruments
                  li No concerns raised by the Joint Committee on Statutory Instruments
                  li #[+link('https://publications.parliament.uk/pa/jt201719/jtselect/jtstatin/121/12102.htm', 'Read the Joint Committee on Statutory Instruments report')]
        li
          h3 26 April 2018
          ul.list--block
            li
              .list--details
                p
                  span.hint House of Lords
                ul
                  li Consideration by the Secondary Legislation Scrutiny Committee
                  li Consideration concluded by the Secondary Legislation Scrutiny Committee
                  li No concerns raised by the Secondary Legislation Scrutiny Committee
                  li #[+link('https://publications.parliament.uk/pa/ld201719/ldselect/ldsecleg/120/12002.htm', 'Read the Secondary Legislation Scrutiny Committee report')]
        li
          h3 28 April 2018
          ul.list--block
            li
              .list--details
                p
                  span.hint House of Commons
                ul
                  li Approval motion tabled
                  li Scheduled for debate in the Commons Chamber
                  li #[+link('#', 'View scheduled debate')]
        li
          h3 29 April 2018
          ul.list--block
            li
              .list--details
                p
                  span.hint House of Lords
                ul
                  li Approval motion tabled
        li
          h3 30 April 2018
          ul.list--block
            li
              .list--details
                p
                  span.hint House of Lords
                ul
                  li Non-fatal amendment motion tabled
        li
          h3 02 May 2018
          ul.list--block
            li
              .list--details
                p
                  span.hint House of Commons
                ul
                  li Commons Chamber debate
                  li Approval motion decision
                  li Instrument approved
                  li #[+link('#', 'View transcipt from Commons Chamber debate')]
