extends ../../layouts/layout-beta.pug

block content
  #content.section--primary
    .container
      h1 SI prototypes (May 2018)

      h2 Work package (thing)

      ul.list--bullet
        //-li #[+link('affirmative-step.html', 'Draft Affirmative SI (procedure steps)')]
        //-li.v2-line-break #[+link('affirmative-date.html', 'Draft Affirmative SI (business item)')]
        li #[+link('negative-step.html', 'Made Negative SI (procedure steps)')]
        li.v2-line-break #[+link('negative-date.html', 'Made Negative SI (business item)')]
        li #[+link('proposed-step.html', 'Proposed SI (procedure steps)')]
        li #[+link('proposed-date.html', 'Proposed SI (business items)')]

      h2 Work packages (list)

      ul.list--bullet
        li #[+link('current-list.html', 'Current SI List')]
