extends ../../layouts/layout-beta.pug

block content
  #content.section--primary
    .container
      h1 The Harbours, Highways, Merchant Shipping and Other Transport (Environmental Protection) (EU Exit) Regulations 2018
      p.gamma.v1-number SI 2018/568

      .status--highlight
        p The objection period for this statutory instrument ends on 7 June 2018.

  section
    .container
      h2 About the statutory instrument
      ul
        li This is a made #[+link('https://www.parliament.uk/site-information/glossary/negative-procedure/', 'negative statutory instrument (SI)')]
        li Laid by the #[+link('https://devci.parliament.uk/groups/XouN12Ow', 'Department for Transport')] on 12 April 2018
        li #[+link('http://www.legislation.gov.uk/uksi/2018/506/introduction/made', 'Read the SI, its purpose and related information')]
        
      h3 Linked proposed statutory instruments
      ul
        li #[+link('proposed-date.html', 'Proposed Harbours, Highways, Merchant Shipping and Other Transport (Environmental Protection) (EU Exit) Regulations')]

  section
    .container
      h2 Completed stages
      .track--alternative
        h3 12 April 2018
        ul.list--block
          li
            .list--details
              p
                span.hint House of Commons
                span.hint House of Lords
              ul
                li Statutory instrument exists
                li Laid before the House of Commons
                li Laid before the House of Lords
                li Clock starts
        h3 13 April 2018
        ul.list--block
          li
            .list--details
              p
                span.hint House of Commons
              ul
                li Prayer to annul
                li #[+link('#', 'Read the prayer to annul')]
        h3 21 April 2018
        ul.list--block
          li
            .list--details
              p
                span.hint House of Lords
              ul
                li Consideration by the Secondary Legislation Scrutiny Committee
                li Consideration concluded by the Secondary Legislation Scrutiny Committee
                li Concerns raised by the Secondary Legislation Scrutiny Committee
                li #[+link('#', 'Read the Secondary Legislation Scrutiny Committee report')]
          li
            .list--details
              p
                span.hint House of Commons
                span.hint House of Lords
              ul
                li Consideration by the Joint Committee on Statutory Instruments
                li Consideration concluded by the Joint Committee on Statutory Instruments
                li Concerns raised by the Joint Committee on Statutory Instruments
                li #[+link('#', 'Read the Joint Committee on Statutory Instruments report')]
        ul.list--block
          li
            .list--details
              p
                span.hint House of Lords
              ul
                li Non-fatal prayer
                li #[+link('#', 'Read the non-fatal prayer')]
        h3 23 April 2018
        ul.list--block
          li
            .list--details
              p
                span.hint House of Commons
              ul
                li Scheduled for debate in the Commons Chamber
                li #[+link('#', 'View scheduled Commons Chamber debate')]
        h3 25 April 2018
        ul.list--block
          li
            .list--details
              p
                span.hint House of Commons
              ul
                li Considered for English Votes for English Laws certification by the Speaker
                li Certified as England, Wales and Northern Ireland Only
          li
            .list--details
              p
                span.hint House of Lords
              ul
                li Scheduled for debate in Grand Committee
                li #[+link('#', 'View scheduled Grand Committee debate')]
        h3 28 April 2018
        ul.list--block
          li
            .list--details
              p
                span.hint House of Commons
              ul
                li Debate in the Chamber of the House of Commons
                li Motion to annul decision
                li Motion to annul rejected
                li #[+link('#', 'View transcipt from Commons Chamber debate')]
        h3 04 May 2018
        ul.list--block
          li
            .list--details
              p
                span.hint House of Lords
              ul
                li Grand Committee debate
                li Motion to annul decision
                li Non-fatal motion agreed to
                li #[+link('#', 'View transcipt from Grand Committee debate')]
