extends ../../layouts/layout-beta.pug

block content
  #content.section--primary
    .container
      h1 Made negative procedure

      ol.list--block
        li
          .list--details
            h2 #[+link('#', 'Poisons Act 1972 (Explosives Precursors) (Amendment) Regulations 2018')]
            p 3 Apr 2018
        li
          .list--details
            h2 #[+link('#', 'Seal Products (Amendments) (EU Exit) Regulations 2018')]
            p 28 Apr 2018
        li
          .list--details
            h2 #[+link('#', 'Detention Centre (Amendment) Rules 2018')]
            p 27 March 2018
        li
          .list--details
            h2 #[+link('#', 'Police Super-complaints (Criteria for the Making and Revocation of Designations) Regulations 2018')]
            p 26 March 2018
        li
           .list--details
            h2 #[+link('#', 'Railways (Penalty Fares) Regulations 2018')]
            p 15 March 2018
