extends ../../layouts/layout-beta.pug

block content
  #content.section--primary
    .container
      h1 The Harbours, Highways, Merchant Shipping and Other Transport (Environmental Protection) (EU Exit) Regulations 2018
      p.gamma.v1-number SI 2018/568

      .status--highlight
        p The objection period for this statutory instrument ends on 7 June 2018.

  section
    .container
      h2 About the statutory instrument
      ul
        li This is a made #[+link('https://www.parliament.uk/site-information/glossary/negative-procedure/', 'negative statutory instrument (SI)')]
        li Laid by the #[+link('https://devci.parliament.uk/groups/XouN12Ow', 'Department for Transport')] on 12 April 2018
        li #[+link('http://www.legislation.gov.uk/uksi/2018/506/introduction/made', 'Read the SI, its purpose and related information')]

      h3 Linked proposed statutory instruments
      ul
        li #[+link('proposed-step.html', 'Proposed Harbours, Highways, Merchant Shipping and Other Transport (Environmental Protection) (EU Exit) Regulations')]

  section
    .container
      h2 Completed stages
      ul.track--alternative
        li
          h3 Statutory instrument exists
          ul.list--block
            li
              .list--details
                p
                  span.hint House of Commons
                  span.hint House of Lords
                p 12 April 2018
        li
          h3 Laid before the House of Commons
          ul.list--block
            li
              .list--details
                p
                  span.hint House of Commons
                p 12 April 2018
                p Laid before the House of Commons
        li
          h3 Laid before the House of Lords
          ul.list--block
            li
              .list--details
                p
                  span.hint House of Lords
                p 12 April 2018
                p Laid before the House of Lords
        li
          h3 Clock starts
          ul.list--block
            li
              .list--details
                p
                  span.hint House of Commons
                  span.hint House of Lords
                p 12 April 2018
        li
          h3 Prayer to annul
          ul.list--block
            li
              .list--details
                p
                  span.hint House of Commons
                p 13 April 2018
                p #[+link('#', 'Read the prayer to annul')]
        li
          h3 Consideration by the Secondary Legislation Scrutiny Committee
          ul.list--block
            li
              .list--details
                p
                  span.hint House of Lords
                p 21 April 2018
                p #[+link('#', 'Read the Secondary Legislation Scrutiny Committee report')]
        li  
          h3 Consideration concluded by the Secondary Legislation Scrutiny Committee
          ul.list--block
            li
              .list--details
                p
                  span.hint House of Lords
                p 21 April 2018
                p #[+link('#', 'Read the Secondary Legislation Scrutiny Committee report')]
        li
          h3 Concerns raised by the Secondary Legislation Scrutiny Committee
          ul.list--block
            li
              .list--details
                p
                  span.hint House of Lords
                p 21 April 2018
                p #[+link('#', 'Read the Secondary Legislation Scrutiny Committee report')]
        li
          h3 Consideration by the Joint Committee on Statutory Instruments
          ul.list--block
            li
              .list--details
                p
                  span.hint House of Commons
                  span.hint House of Lords
                p 21 April 2018
                p #[+link('#', 'Read the Joint Committee on Statutory Instruments report')]
        li
          h3 Consideration concluded by the Joint Committee on Statutory Instruments
          ul.list--block
            li
              .list--details
                p
                  span.hint House of Commons
                  span.hint House of Lords
                p 21 April 2018
                p #[+link('#', 'Read the Joint Committee on Statutory Instruments report')]
        li
          h3 Concerns raised by the Joint Committee on Statutory Instruments
          ul.list--block
            li
              .list--details
                p
                  span.hint House of Commons
                  span.hint House of Lords
                p 21 April 2018
                p #[+link('#', 'Read the Joint Committee on Statutory Instruments report')]
        li
          h3 Non-fatal prayer
          ul.list--block
            li
              .list--details
                p
                  span.hint House of Lords
                p 21 April 2018
                p #[+link('#', 'Read the non-fatal prayer')]
        li
          h3 Scheduled for debate in the Commons Chamber
          ul.list--block
            li
              .list--details
                p
                  span.hint House of Commons
                p 23 April 2018 
                p #[+link('#', 'View scheduled Commons Chamber debate')]
        li
          h3 Considered for English Votes for English Laws certification by the Speaker
          ul.list--block
            li
              .list--details
                p
                  span.hint House of Commons
                p 25 April 2018
                p #[+link('#', 'View EVEL business item')]
        li
          h3 Certified as England, Wales and Northern Ireland Only
          ul.list--block
            li
              .list--details
                p
                  span.hint House of Commons
                p 25 April 2018
                p #[+link('#', 'View EVEL business item')]
        li
          h3 Scheduled for debate in Grand Committee
          ul.list--block
            li
              .list--details
                p
                  span.hint House of Lords
                p 25 April 2018
                p #[+link('#', 'View scheduled Grand Committee debate')]
        li
          h3 Debate in the Chamber of the House of Commons
          ul.list--block
            li
              .list--details
                p
                  span.hint House of Commons
                p 28 April 2018
                p #[+link('#', 'View transcipt from Commons Chamber debate')]
        li
          h3 Motion to annul decision
          ul.list--block
            li
              .list--details
                p
                  span.hint House of Commons
                p 28 April 2018
                p #[+link('#', 'View transcipt from Commons Chamber debate')]
        li
          h3 Motion to annul rejected
          ul.list--block
            li
              .list--details
                p
                  span.hint House of Commons
                p 28 April 2018
                p #[+link('#', 'View transcipt from Commons Chamber debate')]
        li
          h3 Grand Committee debate
          ul.list--block
            li
              .list--details
                p
                  span.hint House of Lords
                p 04 May 2018
                p #[+link('#', 'View transcipt from Grand Committee debate')]
        li
          h3 Motion to annul decision
          ul.list--block
            li
              .list--details
                p
                  span.hint House of Lords
                p 04 May 2018
                p #[+link('#', 'View transcipt from Grand Committee debate')]
        li
          h3 Non-fatal motion agreed to
          ul.list--block
            li
              .list--details
                p
                  span.hint House of Lords
                p 04 May 2018
                p #[+link('#', 'View transcipt from Grand Committee debate')]
