extends ../../layouts/layout-beta.pug

block content
  #content.section--primary
    .container
      h1 Draft negative procedure

      ol.list--block
        li
          .list--details
            h2 #[+link('negative.html', 'The Harbours, Highways, Merchant Shipping and Other Transport (Environmental Protection) (EU Exit) Regulations 2018')]
            p Laid before Parliament on 12 Apr 2018 by government department
        li
          .list--details
            h2 #[+link('#', 'Higher Education (Basic Amount and Higher Amount) (England) (Amendment) Regulations 2018')]
            p Laid before Parliament on 12 Apr 2018 by government department
        li
          .list--details
            h2 #[+link('#', 'Sea Fish (Marketing Standards) (England and Wales and Northern Ireland) Regulations 2018')]
            p Laid before Parliament on 12 April 2018 by government department
        li
           .list--details
            h2 #[+link('#', 'Animals (Scientific Procedures) Act 1986 (Fees) Order 2018')]
            p Laid before Parliament on 11 April 2018 by government department
        li
          .list--details
            h2 #[+link('#', 'School Information (England) (Amendment) Regulations 2018')]
            p Laid before Parliament on 4 Apr 2018 by government department
