extends ../../layouts/layout-beta.pug

block content
  #content.section--primary
    .container
      h1 Proposed Harbours, Highways, Merchant Shipping and Other Transport (Environmental Protection) (EU Exit) Regulations 2018

  section
    .container
      h2 About the proposed statutory instrument
      ul
        li This is a proposed #[+link('https://www.parliament.uk/site-information/glossary/negative-procedure/', 'negative statutory instrument (SI)')]
        li Laid by the #[+link('https://devci.parliament.uk/groups/XouN12Ow', 'Department for Transport')] on 2 April 2018
        li #[+link('#', 'Read the proposed SI, its purpose and related information')]
        
      h3 Linked statutory instruments
      ul
        li #[+link('negative-date.html', 'The Harbours, Highways, Merchant Shipping and Other Transport (Environmental Protection) (EU Exit) Regulations')]

  section
    .container
      h2 Completed stages
      ul.track--alternative
        li
          h3 2 April 2018
          ul.list--block
            li
              .list--details
                p
                  span.hint House of Commons
                  span.hint House of Lords
                ul
                  li Statutory instrument exists
                  li Laid before the House of Commons
                  li Laid before the House of Lords
                  li Consideration clock starts
        li
          h3 6 April 2018
          ul.list--block
            li
              .list--details
                p
                  span.hint House of Commons
                ul
                  li Consideration by the European Statutory Instruments Committee
                  li The European Statutory Instruments Committee recommended that the instrument be proceeded with under the affirmative procedure
                  li #[+link('#', 'Read the European Statutory Instruments Committee report')]
        li
          h3 7 April 2018
          ul.list--block
            li
              .list--details
                p
                  span.hint House of Lords
                ul
                  li Consideration by the Secondary Legislation Scrutiny Committee of EU Exit instruments 
                  li The Secondary Legislation Scrutiny Committee of EU Exit instruments recommended that the instrument be proceeded with under the affirmative procedure
                  li #[+link('#', 'Read the Secondary Legislation Scrutiny Committee of EU Exit report')]
