extends ../../layouts/layout-pdsgov.pug

block content
  .wrapper

      h1.section-title
        a.section-title__link(href='#') Climate change

      h2.sub-section-title Statutory Instruments

      p.lede Statutory Instruments currently before Parliament.

      ul.statutory-instruments-list
        li
          a(href='page-01.html') The draft Carbon Budget Order 2016
        li
          a(href='#') ABC
        li
          a(href='#') ABC
        li
          a(href='#') ABC
