extends ../../layouts/layout-beta.pug

block content
  #content.section--primary
    .container
      h1 Work packages
      p This list is in date order. The date shown relates to the first recorded stage of the procedure.

      ol.list--block
        li
          .list--details
            h2 #[+link('negative-date.html', 'Restriction on the Preparation of Adoption Reports (Amendment) Regulations 2018')]
            p Draft affirmative procedure
            p 16 April 2018
        li
          .list--details
            h2 #[+link('negative-date.html', 'Cash Ratio Deposits (Value Bands and Ratios) Order 2018')]
            p Draft affirmative procedure
            p 16 April 2018
        li
          .list--details
            h2 #[+link('negative-date.html', 'Package Travel and Linked Travel Arrangements Regulations 2018')]
            p Draft affirmative procedure
            p 16 April 2018
        li
          .list--details
            h2 #[+link('negative-date.html', 'The Harbours, Highways, Merchant Shipping and Other Transport (Environmental Protection) (EU Exit) Regulations 2018')]
            p Made negative procedure
            p 12 Apr 2018
        li
          .list--details
            h2 #[+link('negative-date.html', 'Higher Education (Basic Amount and Higher Amount) (England) (Amendment) Regulations 2018')]
            p Made negative procedure
            p 12 Apr 2018
        li
          .list--details
            h2 #[+link('negative-date.html', 'Sea Fish (Marketing Standards) (England and Wales and Northern Ireland) Regulations 2018')]
            p Made negative procedure
            p 12 April 2018
        li
           .list--details
            h2 #[+link('negative-date.html', 'Animals (Scientific Procedures) Act 1986 (Fees) Order 2018')]
            p Made negative procedure
            p 11 April 2018
        li
          .list--details
            h2 #[+link('negative-date.html', 'Exotic Disease in Animals (Amendment) (England) (EU Exit) Regulations 2018')]
            p Draft affirmative procedure
            p 11 Apr 2018
        li
          .list--details
            h2 #[+link('negative-date.html', 'School Information (England) (Amendment) Regulations 2018')]
            p Made negative procedure
            p 4 Apr 2018
        li
          .list--details
            h2 #[+link('negative-date.html', 'Poisons Act 1972 (Explosives Precursors) (Amendment) Regulations 2018')]
            p Made negative procedure
            p 3 Apr 2018
