extends ../../layouts/layout-beta.pug

block content
  #content.section--primary
    .container
      h1 Statutory instruments

      p Statutory instruments (SIs) are documents created by a government department to make a minor change to the law. They are usually published with an explanatory memorandum, which explains the purpose of the SI and why the change is necessary.

      p SIs often have rule, order or regulation in their title.

  section
    .container
      h2 Find a statutory instrument

      ol.list--block
        li
          .list--details
            h3 #[+link('all-work-packages-list.html', 'All statutory instruments')]
        li
          .list--details
            h3 #[+link('negative-made-list.html', 'Draft affirmative statutory instruments')]
        li
          .list--details
            h3 #[+link('negative-made-list.html', 'Draft negative statutory instruments')]
        li
          .list--details
            h3 #[+link('negative-made-list.html', 'Made affirmative statutory instruments')]
        li
          .list--details
            h3 #[+link('negative-made-list.html', 'Made negative statutory instruments')]

  section
    .container
      h2 More information

      ol.list--block
        li
          .list--details
            h3 #[+link('https://www.parliament.uk/about/how/laws/delegated/', 'Secondary legislation and SIs')]
            p Find out more about secondary legislation and SIs on the current Parliament.uk website.
        li
          .list--details
            h3 #[+link('https://beta.parliament.uk/collections/lA7IUL12', 'MPs Guide to Procedure')]
            p Guidance on House of Commons secondary legislation and SI procedure for MPs and their staff.
