extends ../../layouts/layout-beta.pug

block content
  #content.section--primary
    .container
      h1 The Harbours, Highways, Merchant Shipping and Other Transport (Environmental Protection) (EU Exit) Regulations 2018
      p.gamma.v1-number SI 2018/568

      .status--highlight
        p The objection period ends on 7 June 2018.
      
  section
    .container
      h2 About the statutory instrument
      ul
        li this is a made negative statutory instrument
        li laid by the #[+link('https://devci.parliament.uk/groups/XouN12Ow', 'Department for Transport')] on 12 April 2018
        li #[+link('http://www.legislation.gov.uk/uksi/2018/506/introduction/made', 'read the SI, its purpose (explanatory memorandum) and related information')]

  section.section--wide
    .container
      h2 Completed stages
      .track--alternative
        h3 12 April 2018
        ul.list--block
          li
            .list--details
              p Statutory instrument exists
              p
                span.hint House of Commons
                | Laid before the House of Commons
              p
                span.hint House of Lords
                | Laid before the House of Lords
              p
                span.hint House of Commons
                span.hint House of Lords
                | Clock starts
              p #[+link('#', 'Find out more about this stage')]
        h3 13 April 2018
        ul.list--block
          li
            .list--details
              p
                span.hint House of Commons
                | Prayer to annul
              p #[+link('#', 'Find out more about this stage')]
        h3 21 April 2018
        ul.list--block
          li
            .list--details
              p
                span.hint House of Lords
                | Consideration by the Secondary Legislation Scrutiny Committee
              p
                span.hint House of Lords
                | Consideration concluded by the Secondary Legislation Scrutiny Committee
              p
                span.hint House of Lords
                | Concerns raised by the Secondary Legislation Scrutiny Committee
              p #[+link('#', 'Find out more about this stage')]
          li
            .list--details
              p
                span.hint House of Commons
                span.hint House of Lords
                | Consideration by the Joint Committee on Statutory Instruments
              p
                span.hint House of Commons
                span.hint House of Lords
                | Consideration concluded by the Joint Committee on Statutory Instruments
              p
                span.hint House of Commons
                span.hint House of Lords
                | Concerns raised by the Joint Committee on Statutory Instruments
              p #[+link('#', 'Find out more about this stage')]
        ul.list--block
          li
            .list--details
              p
                span.hint House of Lords
                | Non-fatal prayer
              p #[+link('#', 'Find out more about this stage')]
        h3 23 April 2018
        ul.list--block
          li
            .list--details
              p
                span.hint House of Commons
                | Scheduled for debate in the Commons Chamber
              p #[+link('#', 'Find out more about this stage')]
        h3 25 April 2018
        ul.list--block
          li
            .list--details
              p
                span.hint House of Commons
                | Considered for English Votes for English Laws certification by the Speaker
              p
                span.hint House of Commons
                | Certified as England, Wales and Northern Ireland Only
          li
            .list--details
              p
                span.hint House of Lords
                | Scheduled for debate in Grand Committee
              p #[+link('#', 'Find out more about this stage')]
        h3 28 April 2018
        ul.list--block
          li
            .list--details
              p
                span.hint House of Commons
                | Debate in the Chamber of the House of Commons
              p
                span.hint House of Commons
                | Motion to annul decision
              p
                span.hint House of Commons  
                | Motion to annul rejected
              p #[+link('#', 'Find out more about this stage')]
        h3 04 May 2018
        ul.list--block
          li
            .list--details
              p
                span.hint House of Lords
                | Grand Committee debate
              p
                span.hint House of Lords
                | Motion to annul decision
              p
                span.hint House of Lords
                | Non-fatal motion agreed to
              p #[+link('#', 'Find out more about this stage')]

  section.section--wide
    .container
      h2 Completed stages with no date
      ul.list--block
        li
          .list--details
            p
              span.hint House of Commons
              | Scheduled debate
            p #[+link('#', 'Find out more about this stage')]
        li
          .list--details
            p
              span.hint House of Lords
              | Scheduled debate
            p
              span.hint House of Lords
              | Debate in the Chamber of the House of Lords
        li
          .list--details
            p
              span.hint House of Commons
              | Debate in the Chamber of the House of Commons
            p #[+link('#', 'Find out more about this stage')]

  section.section--wide
    .container
      h2 Scheduled upcoming stages

      ol.list--block.list--2
        li.v1-accent--list
          .list--details
            h3 10 May 2018
            p
              span.hint House of Commons
              | Scheduled debate
        li.v1-accent--list
          .list--details
            h3 12 May 2018
            p
              span.hint House of Lords
              | Scheduled debate
            p #[+link('#', 'Find out more about this stage')]
