extends ../../layouts/layout-beta.pug

block content
  #content.section--primary
    .container
      h1 Exotic Disease in Animals (Amendment) (England) (EU Exit) Regulations 2018

  section
    .container
      h2 About the statutory instrument
      ul
        li This is a draft #[+link('https://www.parliament.uk/site-information/glossary/affirmative-procedure/', 'affirmative statutory instrument (SI)')]
        li Laid by the #[+link('#', 'Department for Environment, Food and Rural Affairs')] on 11 April 2018
        li #[+link('http://www.legislation.gov.uk/uksi/2018/506/introduction/made', 'Read the SI, its purpose and related information')]

  section
    .container
      h2 Completed stages
      .track--alternative
        h3 6 April 2018
        ul.list--block
          li
            .list--details
              p
                span.hint House of Commons
              ul
                li The European Statutory Instruments Committee recommended that the instrument be proceeded with under the affirmative procedure
                li Consideration by the European Statutory Instruments Committee

                li #[+link('https://publications.parliament.uk/pa/cm201719/cmselect/cmeuleg/301-xxi/30102.htm', 'Read the European Statutory Instruments Committee report')]
        h3 7 April 2018
        ul.list--block
          li
            .list--details
              p
                span.hint House of Lords
              p The Secondary Legislation Scrutiny Committee of EU Exit instruments recommended that the instrument be proceeded with under the affirmative procedure
              li Consideration by the Secondary Legislation Scrutiny Committee of EU Exit instruments 

              p #[+link('https://www.parliament.uk/business/committees/committees-a-z/lords-select/eu-select-committee-/committee-work/parliament-2017/new-items-of-scrutiny/', 'Read the SLSC of EU Exit instruments report')]
        h3 11 April 2018
        ul.list--block
          li
            .list--details
              p
                span.hint House of Commons
              ul
                li Laid before the House of Commons
          li
            .list--details
              p
                span.hint House of Lords
              ul
                li Laid before the House of Lords
                
        h3 13 April 2018
        ul.list--block
          li
            .list--details
              p
                span.hint House of Commons
              ul
                li Certified as England Only 
                li Considered for English Votes for English Laws certification by the Speaker
        h3 19 April 2018
        ul.list--block
          li
            .list--details
              p
                span.hint House of Commons
                span.hint House of Lords
              ul
                li #[+link('https://publications.parliament.uk/pa/jt201719/jtselect/jtstatin/121/12102.htm', 'Read the Joint Committee on Statutory Instruments report')]
                li No concerns raised by the Joint Committee on Statutory Instruments
                li Consideration concluded by the Joint Committee on Statutory Instruments
                li Consideration by the Joint Committee on Statutory Instruments
        h3 26 April 2018
        ul.list--block
          li
            .list--details
              p
                span.hint House of Lords
              ul
                li #[+link('https://publications.parliament.uk/pa/ld201719/ldselect/ldsecleg/120/12002.htm', 'Read the Secondary Legislation Scrutiny Committee report')]
                li No concerns raised by the Secondary Legislation Scrutiny Committee
                li Consideration concluded by the Secondary Legislation Scrutiny Committee
                li Consideration by the Secondary Legislation Scrutiny Committee
        h3 28 April 2018
        ul.list--block
          li
            .list--details
              p
                span.hint House of Commons
              ul
                li #[+link('#', 'View scheduled debate')]
                li Scheduled for debate in the Commons Chamber
                li Approval motion tabled


        h3 29 April 2018
        ul.list--block
          li
            .list--details
              p
                span.hint House of Lords
              p Approval motion tabled.
        
        h3 30 April 2018
        ul.list--block
          li
            .list--details
              p
                span.hint House of Lords
              p Non-fatal amendment motion tabled.
        
        
        
        
        h3 28 April 2018
        ul.list--block
          li
            .list--details
              p
                span.hint House of Commons
              p Debate in the House of Commons chamber.

        h3 28 April 2018
        ul.list--block
          li
            .list--details
              p
                span.hint House of Commons
              p Approved by the House of Commons.
