extends ../../layouts/layout-beta.pug

block content
  #content.section--primary
    .container
      span.hint.theme--white.v1-status In progress
      h1 Exotic Disease (Amendment) (England) (EU Exit) Regulations 2018

  section
    .container
      h2 About the statutory instrument
      p This is a draft #[+link('https://www.parliament.uk/site-information/glossary/affirmative-procedure/', 'affirmative statutory instrument (SI)')] laid by the Department for Environment, Food and Rural Affairs.
      p To read the SI, its purpose and related information, visit the #[+link('http://www.legislation.gov.uk/uksi/2018/506/introduction/made', 'legislation.gov.uk website')].

  section
    .container
      h2 Completed stages
      .track--alternative
        h3 26 April 2018
        ul.list--block
          li
            .list--details
              p
                span.hint House of Lords
              p No concerns raised by the Secondary Legislation Scrutiny Committee (SLSC).
              p #[+link('https://publications.parliament.uk/pa/ld201719/ldselect/ldsecleg/120/12002.htm', 'Read the SLSC report')]
        h3 19 April 2018
        ul.list--block
          li
            .list--details
              p
                span.hint House of Commons
                span.hint House of Lords
              p No concerns raised by the Joint Committee on Statutory Instruments (JCSI).
              p #[+link('https://publications.parliament.uk/pa/jt201719/jtselect/jtstatin/121/12102.htm', 'Read the JCSI report')]
        h3 13 April 2018
        ul.list--block
          li
            .list--details
              p
                span.hint House of Commons
              p Certified as England only under the English Votes for English Laws (EVEL) process.
        h3 11 April 2018
        ul.list--block
          li
            .list--details
              p
                span.hint House of Commons
                span.hint House of Lords
              p Laid before the House of Commons and House of Lords
        h3 7 April 2018
        ul.list--block
          li
            .list--details
              p
                span.hint House of Lords
              p The Secondary Legislation Scrutiny Committee (SLSC) of EU Exit instruments recommended changing the proposed SI from negative to affirmative procedure.
              p #[+link('https://www.parliament.uk/business/committees/committees-a-z/lords-select/eu-select-committee-/committee-work/parliament-2017/new-items-of-scrutiny/', 'Read the SLSC of EU Exit instruments report')]
        h3 6 April 2018
        ul.list--block
          li
            .list--details
              p
                span.hint House of Commons
              p The European Statutory Instruments Committee (ESIC) recommended changing the proposed SI from negative to affirmative procedure.
              p #[+link('https://publications.parliament.uk/pa/cm201719/cmselect/cmeuleg/301-xxi/30102.htm', 'Read the ESIC report')]

  section
    .container
      br
      +dropdownToggle('What could happen next?')
        p The process an SI follows depends on the outcome of certain stages, so upcoming stages may change.
        ul.list--block
          li.v1-accent--list
            .list--details
              p
                span.hint House of Commons
              p Approval motion withdrawn
          li.v1-accent--list
            .list--details
              p
                span.hint House of Commons
              p Chamber debate to be scheduled
          li.v1-accent--list
            .list--details
              p
                span.hint House of Commons
              p Delegated Legislation Committee debate to be scheduled
          li.v1-accent--list
            .list--details
              p
                span.hint House of Lords
              p Chamber debate to be scheduled
          li.v1-accent--list
            .list--details
              p
                span.hint House of Lords
              p Fatal amendment to an objection
          li.v1-accent--list
            .list--details
              p
                span.hint House of Lords
              p Non-fatal amendment to an objection
          li.v1-accent--list
            .list--details
              p
                span.hint House of Lords
              p To be considered for Grand Committee debate
