extends ../../layouts/layout-beta.pug

block content
  #content.section--primary
    .container
      h1 Statutory instruments in progress

      ol.list--block
        li
          .list--details
            h2 #[+link('#', 'Restriction on the Preparation of Adoption Reports (Amendment) Regulations 2018')]
            p Draft affirmative statutory instrument
            p Laid before the Commons and Lords on 16 April 2018
        li
          .list--details
            h2 #[+link('#', 'Cash Ratio Deposits (Value Bands and Ratios) Order 2018')]
            p Draft affirmative statutory instrument
            p Laid before the Commons and Lords on 16 April 2018
        li
          .list--details
            h2 #[+link('#', 'Package Travel and Linked Travel Arrangements Regulations 2018')]
            p Draft affirmative statutory instrument
            p Laid before the Commons and Lords on 16 April 2018
        li
          .list--details
            h2 #[+link('negative.html', 'Seal Products (Amendments) (EU Exit) Regulations 2018')]
            p Made negative statutory instrument
            p Laid before the Commons and Lords on 12 Apr 2018
        li
          .list--details
            h2 #[+link('affirmative.html', 'Exotic Disease (Amendment) (England) (EU Exit) Regulations 2018')]
            p Draft affirmative statutory instrument
            p Laid before the Commons and Lords on 11 Apr 2018
        li
          .list--details
            h2 #[+link('#', 'School Information (England) (Amendment) Regulations 2018')]
            p Made negative statutory instrument
            p Laid before the Commons on 4 Apr 2018
        li
          .list--details
            h2 #[+link('#', 'Higher Education (Basic Amount and Higher Amount) (England) (Amendment) Regulations 2018')]
            p Made negative statutory instrument
            p Laid before the Commons on 4 Apr 2018
        li
          .list--details
            h2 #[+link('#', 'Poisons Act 1972 (Explosives Precursors) (Amendment) Regulations 2018')]
            p Made negative statutory instrument
            p Laid before the Commons and Lords on 3 Apr 2018
        li
          .list--details
            h2 #[+link('#', 'Double Taxation Relief (Base Erosion and Profit Shifting) Order 2018')]
            p Draft affirmative statutory instrument
            p Laid before the Commons on 28 March 2018
        li
          .list--details
            h2 #[+link('#', 'Sea Fish (Marketing Standards) (England and Wales and Northern Ireland) Regulations 2018')]
            p Made negative statutory instrument
            p Laid before the Commons on 28 March 2018
        li
          .list--details
            h2 #[+link('#', 'Special Immigration Appeals Commission (Procedure) (Amendment) Rules 2018')]
            p Draft affirmative statutory instrument
            p Laid before the Commons and Lords on 28 March 2018
        li
          .list--details
            h2 #[+link('#', 'Detention Centre (Amendment) Rules 2018')]
            p Made negative statutory instrument
            p Laid before the Commons and Lords on 27 March 2018
        li
          .list--details
            h2 #[+link('#', 'Police Super-complaints (Criteria for the Making and Revocation of Designations) Regulations 2018')]
            p Made negative statutory instrument
            p Laid before the Commons and Lords on 26 March 2018
        li
          .list--details
            h2 #[+link('#', 'Licensing Act 2003 (Royal Wedding Licensing Hours) Order 2018')]
            p Draft affirmative statutory instrument
            p Laid before the Commons and Lords on 21 March 2018        
        li
           .list--details
            h2 #[+link('#', 'Railways (Penalty Fares) Regulations 2018')]
            p Made negative statutory instrument
            p Laid before the Commons on 15 March 2018
        li
           .list--details
            h2 #[+link('#', 'Animals (Scientific Procedures) Act 1986 (Fees) Order 2018')]
            p Made negative statutory instrument
            p Laid before the Commons and Lords on 15 March 2018
        li
           .list--details
            h2 #[+link('#', 'Plant Health etc. (Fees) (England) Regulations 2018')]
            p Made negative statutory instrument
            p Laid before the Commons on 5 March 2018
        li
           .list--details
            h2 #[+link('#', 'Finance Act 2003, Part 3 (Amendment) Order 2018')]
            p Made negative statutory instrument
            p Laid before the Commons on 5 March 2018
        li
           .list--details
            h2 #[+link('#', 'Agricultural and Forestry Vehicles (Type-Approval) Regulations 2018')]
            p Made negative statutory instrument
            p Laid before the Commons and Lords on 28 February 2018
        li
           .list--details
            h2 #[+link('#', 'Blood Safety and Quality Regulations and the Care and Support (Business Failure) Regulations (Consequential Amendments) Order 2018')]
            p Made negative statutory instrument
            p Laid before the Commons and Lords on 26 February 2018
