extends ../../layouts/layout-beta.pug

block content
  #content.section--primary
    .container
      h1 Statutory Instrument prototypes

      ul.list--bullet
        li #[+link('affirmative-list.html', 'Draft Affirmative SI (List)')]
        li #[+link('affirmative.html', 'Draft Affirmative SI (Thing)')]

      ul.list--bullet
        li #[+link('negative-list.html', 'Made Negative SI (List)')]
        li #[+link('negative.html', 'Made Negative SI (Thing)')]
