extends ../../layouts/layout-beta.pug

block content
  #content.section--primary
    .container
      h1 SI prototypes (April 2018)
      
      p Statutory Instrument prototypes for user testing on 26 April 2018 

      ul.list--bullet
        li #[+link('current-list.html', 'Current SI List')]
        li #[+link('affirmative.html', 'Draft Affirmative SI')]
        li #[+link('negative.html', 'Made Negative SI')]

      h2 Brainstorming versions
      ul
        li #[+link('affirmative-new.html', 'Draft Affirmative (latest updates)')]
        li #[+link('affirmative-stepped.html', 'Draft Affirmative (titles instead of dates)')]
        li #[+link('affirmative-split.html', 'Draft Affirmative (hidden upcomning stages)')]
      ul  
        li #[+link('negative-new.html', 'Made Negative (latest updates)')]
        li #[+link('negative-stepped.html', 'Made Negative (titles instead of dates)')]
        li #[+link('negative-split.html', 'Made Negative (hidden upcomning stages)')]
