extends ../../layouts/layout-beta.pug

block content
  #content.section--primary
    .container
      h1 Statutory Instrument prototypes

      ul.list--bullet
        li #[+link('current-list.html', 'Current SI List')]
        li #[+link('affirmative.html', 'Draft Affirmative SI')]
        li #[+link('negative.html', 'Made Negative SI')]
