extends ../../layouts/layout-beta.pug

block content
  #content.section--primary
    .container
      h1 [Procedure]
      p This is a list of all [Procedure] currently laid before Parliament

  section
    .container
      ol.list--block
        li
          .list--details
            h2 #[+link('negative.html', '[Work Package]')]
            p [Date] [Laid in Commons] [Laid in Lords]
        li
          .list--details
            h2 #[+link('negative.html', '[Work Package]')]
            p [Date] [Laid in Commons] [Laid in Lords]
        li
          .list--details
            h2 #[+link('negative.html', '[Work Package]')]
            p [Date] [Laid in Commons] [Laid in Lords]
        li
          .list--details
            h2 #[+link('negative.html', '[Work Package]')]
            p [Date] [Laid in Commons] [Laid in Lords]
        li
          .list--details
            h2 #[+link('negative.html', '[Work Package]')]
            p [Date] [Laid in Commons] [Laid in Lords]
