extends ../../layouts/layout-beta.pug

block content
  .section--primary
    .container
      h1 Made negative statutory instruments
      p Current made negative statutory instruments laid before Parliament.
      p A to Z - select a letter

      //- Letter Navigation
      nav(class='navigation--letter', aria-label='Paged navigation')
        ol
          each val, index in ['all', 'a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z']
            li(data-letter=val, class= (index === 0 ? "active" : undefined))
              if index === 0
                span(data-atoz-see='true')= val
              else
                a(data-atoz-see='true', href='#')= val

  section(tabindex=0)#content
    .container
      ol.list--block
        li
          .list--details
            h2 #[+link('negative.html', 'EU Withdrawal Bill Statutory Instrument 2')]
            p Laid before the House of Commons and House of Lords on 18 Apr 2018
            p Department for Exiting the European Union
        li
          .list--details
            h2 #[+link('#', 'The School Information (England) (Amendment) Regulations 2018')]
            p Laid before the House of Commons on 4 Apr 2018
            p Department for Education
        li
          .list--details
            h2 #[+link('#', 'The Higher Education (Basic Amount and Higher Amount) (England) (Amendment) Regulations 2018')]
            p Laid before the House of Commons on 4 Apr 2018
            p Department for Education
        li
          .list--details
            h2 #[+link('#', 'The Poisons Act 1972 (Explosives Precursors) (Amendment) Regulations 2018')]
            p Laid before the House of Commons and House of Lords on 3 Apr 2018
            p Home Office
        li
          .list--details
            h2 #[+link('#', 'The Finance Act 2003, Part 3 (Amendment) Order 2018')]
            p Laid before the House of Commons on 5 March 2018
            p HM Revenue and Customs
