extends ../../layouts/layout-beta.pug

block content
  #content.section--primary
    .container
      p.hint.theme--white #[+link('current-list.html', 'In progress')]
      h1 Seal Products (Amendments) (EU Exit) Regulations 2018
      p Number 2018/568

      .status--highlight
        p The objection period for this statutory instrument ends on 7 June 2018.

  section
    .container
      h2 About the statutory instrument
      p This is a made #[+link('https://www.parliament.uk/site-information/glossary/negative-procedure/', 'negative statutory instrument (SI)')] laid by the Department for Environment, Food and Rural Affairs.
      p To read the SI, its purpose and related information, visit the #[+link('http://www.legislation.gov.uk/uksi/2018/506/introduction/made', 'legislation.gov.uk website')].

  section
    .container
      h2 Completed stages
      .track--alternative
        h3 22 April 2018
        ul.list--block
          li
            .list--details
              p
                span.hint Lords
              p Informal objection
              p #[+link('http://lordsbusiness.parliament.uk/ItemOfBusiness?itemOfBusinessId=35933&sectionId=48&businessPaperDate=2018-04-20', 'Read the informal objection')]
        h3 21 April 2018
        ul.list--block
          li
            .list--details
              p
                span.hint Lords
              p Concerns raised by the Lords Secondary Legislation Scrutiny Committee (SLSC)
              p #[+link('https://publications.parliament.uk/pa/ld201719/ldselect/ldsecleg/120/12002.htm', 'Read the SLSC report')]
        h3 21 April 2018
        ul.list--block
          li
            .list--details
              p
                span.hint Commons
                span.hint Lords
              p Concerns raised by the Joint Committee on Statutory Instruments (JCSI)
              p #[+link('https://publications.parliament.uk/pa/jt201719/jtselect/jtstatin/121/12102.htm', 'Read the JCSI report')]
        h3 13 April 2018
        ul.list--block
          li
            .list--details
              p
                span.hint Commons
              p Formal objection
              p #[+link('https://www.parliament.uk/edm/2017-19/1111', 'Read the formal objection')]
        h3 12 April 2018
        ul.list--block
          li
            .list--details
              p
                span.hint Commons
                span.hint Lords
              p Laid before the Commons and Lords
        h3 7 April 2018
        ul.list--block
          li
            .list--details
              p
                span.hint Lords
              p The European Sub-Committee of the Secondary Legislation Scrutiny Committee recommended changing the proposed SI from negative to affirmative procedure.
              p #[+link('https://www.parliament.uk/business/committees/committees-a-z/lords-select/eu-select-committee-/committee-work/parliament-2017/new-items-of-scrutiny/', 'Read the ESSLSC report')]
        h3 6 April 2018
        ul.list--block
          li
            .list--details
              p
                span.hint Commons
              p The European Statutory Instruments Committee (ESIC) recommended changing the proposed SI from negative to affirmative procedure.
              p #[+link('https://publications.parliament.uk/pa/cm201719/cmselect/cmeuleg/301-xxi/30102.htm', 'Read the ESIC report')]

  section
    .container
      h2 Upcoming stages
      p The process an SI follows depends on the outcome of certain stages, so upcoming stages may change.
      ul.list--block
        li.v1-accent--list
          .list--details
            p
              span.hint Commons
            p Chamber debate to be scheduled
        li.v1-accent--list
          .list--details
            p
              span.hint Commons
            p Decision on formal objection
        li.v1-accent--list
          .list--details
            p
              span.hint Commons
            p Formal objection withdrawn
        li.v1-accent--list
          .list--details
            p
              span.hint Commons
            p To be considered for Delegated Legislation Committee debate
        li.v1-accent--list
          .list--details
            p
              span.hint Lords
            p Chamber debate to be scheduled
        li.v1-accent--list
          .list--details
            p
              span.hint Lords
            p Grand Committee debate to be scheduled
