extends ../../layouts/layout-beta.pug

block content
  #content.section--primary
    .container
      h1 The Harbours, Highways, Merchant Shipping and Other Transport (Environmental Protection) (EU Exit) Regulations 2018
      p.lead.v1-number SI 2018/568

      .status--highlight.theme--caution
        p #[+link('#fatal', 'Fatal objection raised')] in the House of Commons.

      .status--highlight
        p The objection period for this statutory instrument ends on 7 June 2018.

  section
    .container
      h2 About the statutory instrument
      ul
        li This is a made #[+link('https://www.parliament.uk/site-information/glossary/negative-procedure/', 'negative statutory instrument (SI)')]
        li Laid by the #[+link('#', 'Department for Transport')]
        li To read the SI, its purpose and related information, visit the #[+link('http://www.legislation.gov.uk/uksi/2018/506/introduction/made', 'legislation.gov.uk website')]

  section
    .container
      h2 Latest updates
      ul.list--block
        li
          .list--details
            p
              span.hint House of Lords
            p #[+link('#updateLords', 'Non-fatal objection raised')]
        li
          .list--details
            p
              span.hint House of Commons
              span.hint House of Lords
            p #[+link('#updateCommons', 'Concerns raised by the Joint Committee on Statutory Instruments (JCSI)')]

  section
    .container
      h2 Completed stages
      ul.track--alternative
        li
          h3 6 April 2018
          ul.list--block
            li
              .list--details
                p
                  span.hint House of Commons
                p The European Statutory Instruments Committee (ESIC) recommended changing the proposed SI from negative to affirmative procedure.
                p #[+link('https://publications.parliament.uk/pa/cm201719/cmselect/cmeuleg/301-xxi/30102.htm', 'Read the ESIC report')]
        li
          h3 7 April 2018
          ul.list--block
            li
              .list--details
                p
                  span.hint House of Lords
                p The Secondary Legislation Scrutiny Committee (SLSC) of EU Exit instruments recommended changing the proposed SI from negative to affirmative procedure.
                p #[+link('https://www.parliament.uk/business/committees/committees-a-z/lords-select/eu-select-committee-/committee-work/parliament-2017/new-items-of-scrutiny/', 'Read the SLSC of EU Exit instruments report')]
        li
          h3 12 April 2018
          ul.list--block
            li
              .list--details
                p
                  span.hint House of Commons
                  span.hint House of Lords
                p Laid before the House of Commons and House of Lords
        li
          h3#fatal 13 April 2018
          ul.list--block
            li
              .list--details
                p
                  span.hint House of Commons
                p Fatal objection
                p #[+link('https://www.parliament.uk/edm/2017-19/1111', 'Read the fatal objection')]
        li
          h3#updateCommons 21 April 2018
          ul.list--block
            li
              .list--details
                p
                  span.hint House of Lords
                p Concerns raised by the Lords Secondary Legislation Scrutiny Committee (SLSC)
                p #[+link('https://publications.parliament.uk/pa/ld201719/ldselect/ldsecleg/120/12002.htm', 'Read the SLSC report')]
            li
              .list--details
                p
                  span.hint House of Commons
                  span.hint House of Lords
                p Concerns raised by the Joint Committee on Statutory Instruments (JCSI)
                p #[+link('https://publications.parliament.uk/pa/jt201719/jtselect/jtstatin/121/12102.htm', 'Read the JCSI report')]
        li
          h3#updateLords 22 April 2018
          ul.list--block
            li
              .list--details
                p
                  span.hint House of Lords
                p Non-fatal objection
                p #[+link('http://lordsbusiness.parliament.uk/ItemOfBusiness?itemOfBusinessId=35933&sectionId=48&businessPaperDate=2018-04-20', 'Read the non-fatal objection')]
