extends ../../layouts/layout-beta.pug

block content
  #content.section--primary
    .container
      p.hint.theme--white #[+link('negative-list.html', 'In progress')]
      h1 EU Withdrawal Bill Statutory Instrument 2
      p 2018 No.245

      .status--highlight
        p MPs and Lords have until 25 May 2018 to object to this statutory instrument

  section
    .container
      h2 About this statutory instrument
      p This is a #[+link('#', 'made negative')] statutory instrument originating from Department for Exiting the European Union. To read the full document visit #[+link('https://www.legislation.gov.uk/uksi', 'https://www.legislation.gov.uk/uksi')].

  section
    .container
      h2 Completed stages
      .track--alternative
        h3 Commons fatal motion
        ul.list--block
          li
            .list--details
              p #[+link('#', 'View fatal motion')]
        h3 EVEL consideration
        ul.list--block
          li
            .list--details
              p #[+link('#', 'View EVEL certificate')]
        h3 Cleared by the Secondary Legislation Scrutiny Committee
        ul.list--block
          li
            .list--details
              p #[+link('https://www.parliament.uk/business/committees/committees-a-z/joint-select/statutory-instruments/', 'View committee report')]
        h3 Cleared by the Joint Committee on Statutory Instruments
        ul.list--block
          li
            .list--details
              p #[+link('https://www.parliament.uk/business/committees/committees-a-z/joint-select/statutory-instruments/', 'View committee report')]
        h3 Laid before Parliament
        ul.list--block
          li
            .list--details
              p Laid before the House of Commons and House of Lords on 18 Apr 2018 by the Department for Exiting the European Union

  section
    .container
      .block--border__bottom
        h2 Possible upcoming stages
        p Explanatory content on how the made negative procedure works and a general outline of possibilities in both Commons and Lords.

  section
    .container
      h2.sr-only Parliamentary session
      p #[+link('#', '2017 to present Parliament')]
