extends ../../layouts/layout-beta.pug

block content
  #content.section--primary
    .container
      p.hint.theme--white #[+link('current-list.html', 'In progress')]
      h1 Seal Products (Amendments) (EU Exit) Regulations 2018
      p 2018/568

      .status--highlight
        p The objection period for this SI ends on 7 June 2018.

  section
    .container
      h2 About this statutory instrument
      p This is a #[+link('#', 'made negative')] statutory instrument (SI) laid by the Department for Environment, Food and Rural Affairs.
      p To read the SI, its purpose and related information, visit #[+link('https://www.legislation.gov.uk/uksi', 'https://www.legislation.gov.uk/uksi')].

  section
    .container
      h2 Completed stages
      .track--alternative
        h3 22 April 2018
        ul.list--block
          li
            .list--details
              p Informal objection in the Lords
              p #[+link('#', 'Read the informal objection')]
        h3 21 April 2018
        ul.list--block
          li
            .list--details
              p Concerns raised by the Lords Secondary Legislation Scrutiny Committee (SLSC)
              p #[+link('#', 'Read the SLSC report')]
        h3 21 April 2018
        ul.list--block
          li
            .list--details
              p Concerns raised by the Joint Committee on Statutory Instruments (JCSI)
              p #[+link('#', 'Read the JCSI report')]
        h3 13 April 2018
        ul.list--block
          li
            .list--details
              p Formal objection in the Commons
              p #[+link('#', 'Read the formal objection')]
        h3 12 April 2018
        ul.list--block
          li
            .list--details
              p Laid before Parliament
        h3 7 April 2018
        ul.list--block
          li
            .list--details
              p The European Sub-Committee of the Secondary Legislation Scrutiny Committee recommended changing the proposed SI from negative to affirmative procedure.
              p #[+link('#', 'Read the ESSLSC report')]
        h3 6 April 2018
        ul.list--block
          li
            .list--details
              p The European Statutory Instruments Committee (ESIC) recommended changing the proposed SI from negative to affirmative procedure.
              p #[+link('#', 'Read the ESIC report')]

  section
    .container
      h2 Upcoming stages
      p The process an SI follows depends on the outcome of certain stages, so upcoming stages may change.
      
      h3 Upcoming stages in the House of Commons
      br
      ol.list--block
        li.v1-accent--list
          .list--details
            p Commons Chamber debate to be scheduled
        li.v1-accent--list
          .list--details
            p To be considered for Commons Delegated Legislation Committee debate
        li.v1-accent--list
          .list--details
            p Decision on formal objection in the Commons
        li.v1-accent--list
          .list--details
            p Formal objection withdrawn in the Commons

      h3 Upcoming stages in the House of Lords
      br
      ol.list--block
        li.v1-accent--list
          .list--details
            p Lords Chamber debate to be scheduled
        li.v1-accent--list
          .list--details
            p Lords Grand Committee debate to be scheduled
