extends ../../layouts/layout-beta.pug

block content
  #content.section--primary
    .container
      h1 Statutory instrument prototypes

      ul.list--bullet
        li #[+link('gateway.html', 'Statutory instrument gateway page')]
        li #[+link('all-work-packages-list.html', 'All work packages')]
        li #[+link('negative-made-list.html', 'Made negative work packages')]
        li #[+link('negative-date.html', 'Made negative statutory instrument')]
