extends ../../layouts/layout-beta.pug

block content
  #content.section--primary
    .container
      h1 The Harbours, Highways, Merchant Shipping and Other Transport (Environmental Protection) (EU Exit) Regulations 2018 (SI 2018/568)
      ul
        li This is a made negative work package
        li #[+link('negative-made-list.html', 'View all made negative work packages')]
        li #[+link('#', 'Read the related information')]

  section
    .container
      h2 Completed stages
      ul.track--alternative
        li
          h3 12 April 2018
          ul.list--block
            li
              .list--details
                p Statutory instrument exists
                p
                  span.hint House of Commons
                  | Laid before the House of Commons
                p
                  span.hint House of Lords
                  | Laid before the House of Lords
                p
                  span.hint House of Commons
                  span.hint House of Lords
                  | Clock starts
                p #[+link('#', 'Find out more about this stage')]
        li
          h3 13 April 2018
          ul.list--block
            li
              .list--details
                p
                  span.hint House of Commons
                  | Prayer to annul
                p #[+link('#', 'Find out more about this stage')]
        li
          h3 21 April 2018
          ul.list--block
            li
              .list--details
                p
                  span.hint House of Lords
                  | Consideration by the Secondary Legislation Scrutiny Committee
                p
                  span.hint House of Lords
                  | Consideration concluded by the Secondary Legislation Scrutiny Committee
                p
                  span.hint House of Lords
                  | Concerns raised by the Secondary Legislation Scrutiny Committee
                p #[+link('#', 'Find out more about this stage')]
            li
              .list--details
                p
                  span.hint House of Commons
                  span.hint House of Lords
                  | Consideration by the Joint Committee on Statutory Instruments
                p
                  span.hint House of Commons
                  span.hint House of Lords
                  | Consideration concluded by the Joint Committee on Statutory Instruments
                p
                  span.hint House of Commons
                  span.hint House of Lords
                  | Concerns raised by the Joint Committee on Statutory Instruments
                p #[+link('#', 'Find out more about this stage')]
            li
              .list--details
                p
                  span.hint House of Lords
                  | Non-fatal prayer
                p #[+link('#', 'Find out more about this stage')]
        li
          h3 23 April 2018
          ul.list--block
            li
              .list--details
                p
                  span.hint House of Commons
                  | Scheduled for debate in the Commons Chamber
                p #[+link('#', 'Find out more about this stage')]
        li
          h3 25 April 2018
          ul.list--block
            li
              .list--details
                p
                  span.hint House of Commons
                  | Considered for English Votes for English Laws certification by the Speaker
                p
                  span.hint House of Commons
                  | Certified as England, Wales and Northern Ireland Only
            li
              .list--details
                p
                  span.hint House of Lords
                  | Scheduled for debate in Grand Committee
                p #[+link('#', 'Find out more about this stage')]
        li
          h3 28 April 2018
          ul.list--block
            li
              .list--details
                p
                  span.hint House of Commons
                  | Debate in the Chamber of the House of Commons
                p
                  span.hint House of Commons
                  | Motion to annul decision
                p
                  span.hint House of Commons  
                  | Motion to annul rejected
                p #[+link('#', 'Find out more about this stage')]
        li
          h3 04 May 2018
          ul.list--block
            li
              .list--details
                p
                  span.hint House of Lords
                  | Grand Committee debate
                p
                  span.hint House of Lords
                  | Motion to annul decision
                p
                  span.hint House of Lords
                  | Non-fatal motion agreed to
                p #[+link('#', 'Find out more about this stage')]
        li
          h3 Date currently unavailable
          ul.list--block
            li
              .list--details
                p
                  span.hint House of Lords
                  | Non-fatal prayer
                p #[+link('#', 'Find out more about this stage')]
        li
          h3 Date currently unavailable
          ul.list--block
            li
              .list--details
                p
                  span.hint House of Commons
                  | Approval motion tabled
                p #[+link('#', 'Find out more about this stage')]
