extends ../../layouts/layout-beta.pug

block content
  #content.section--primary
    .container
      h1 Made negative work packages
      p This list is in date order. The date shown relates to the first recorded stage of the procedure.
      p Find out more about the #[+link('https://www.parliament.uk/about/how/laws/delegated/', 'made negative procedure')].

      ol.list--block
        li
          .list--details
            h2 #[+link('negative-date.html', 'Poisons Act 1972 (Explosives Precursors) (Amendment) Regulations 2018')]
            p 3 Apr 2018
        li
          .list--details
            h2 #[+link('negative-date.html', 'Seal Products (Amendments) (EU Exit) Regulations 2018')]
            p 28 Apr 2018
        li
          .list--details
            h2 #[+link('negative-date.html', 'Detention Centre (Amendment) Rules 2018')]
            p 27 March 2018
        li
          .list--details
            h2 #[+link('negative-date.html', 'Police Super-complaints (Criteria for the Making and Revocation of Designations) Regulations 2018')]
            p 26 March 2018
        li
           .list--details
            h2 #[+link('negative-date.html', 'Railways (Penalty Fares) Regulations 2018')]
            p 15 March 2018
