extends ../../layouts/layout-beta.pug

block content
  #content.section--primary
    .container
      h1 Proposed Harbours, Highways, Merchant Shipping and Other Transport (Environmental Protection) (EU Exit) Regulations 2018
      p Subject to the #[+link('https://www.parliament.uk/site-information/glossary/negative-procedure/', 'proposed SI')] procedure

  section
    .container
      h2 Completed steps
      ul.track--alternative
        li
          h3 2 April 2018
          ul.list--block
            li
              .list--details
                p Proposed SI exists
                p
                  span.hint House of Commons
                  | Laid before the House of Commons
                p
                  span.hint House of Lords
                  | Laid before the House of Lords
                p
                  span.hint House of Commons
                  span.hint House of Lords
                  | Consideration clock starts
                p #[+link('#', 'Read the business item')]
        li
          h3 6 April 2018
          ul.list--block
            li
              .list--details
                p
                  span.hint House of Commons
                  | Consideration by the European Statutory Instruments Committee
                p
                  span.hint House of Commons
                  | The European Statutory Instruments Committee recommended that the instrument be proceeded with under the affirmative procedure
                p #[+link('#', 'Read the business item')]
        li
          h3 7 April 2018
          ul.list--block
            li
              .list--details
                p
                  span.hint House of Lords
                  | Consideration by the Secondary Legislation Scrutiny Committee of EU Exit instruments
                p
                  span.hint House of Lords
                  | The Secondary Legislation Scrutiny Committee of EU Exit instruments recommended that the instrument be proceeded with under the affirmative procedure  
                p #[+link('#', 'Read the business item')]

  section
    .container
      h2 Linked work packagable things
      ul.list--pipe
        li
          .list--details
            p #[+link('negative-date.html', 'Proposed Harbours, Highways, Merchant Shipping and Other Transport (Environmental Protection) (EU Exit) Regulations')]
            p Made negative
