.v1-accent--list {
  border-left: solid 4px $grey-3;
}

.v1-status {
  margin-bottom: $base-spacing-unit-small;
}

.v1-number {
  margin-bottom: $base-spacing-unit-medium;
}

.v2-line-break {
  margin-bottom: $base-spacing-unit-small;
}

.hint {
  text-transform: none;
}

.track {
  margin-left: $base-spacing-unit;
}

.dropdown__content {
  background-color: $grey-5;
  padding: $base-spacing-unit-medium 0 $base-spacing-unit-small 0;
}
