.v1-accent--list {
  border-left: solid 4px $grey-3;
}

.v1-status {
  margin-bottom: $base-spacing-unit-small;
}

.v1-number {
  margin-bottom: $base-spacing-unit-medium;
}

.v2-line-break {
  margin-bottom: $base-spacing-unit-small;
}

.track {
  margin-left: $base-spacing-unit-tiny;
}

.dropdown__content {
  background-color: $grey-5;
  padding: $base-spacing-unit-medium 0 $base-spacing-unit-small 0;
}

/*--- Flowchart ---*/

@mixin col--4 {
  @include media($medium) {
    > li {
      width: 24.3%;
    }
  }
}

@mixin col--5 {
  @include media($medium) {
    > li {
      width: 19.5%;
    }
  }
}

@mixin step_connector ($h, $w, $t, $l) {
  height: $h;
  width: $w;
  top: $t;
  left: $l;
}

.list--4 {
  @include media($medium) {
    @include list--inline;
  }
  @include col--4;
}

.list--5 {
  @include media($medium) {
    @include list--inline;
  }
  @include col--5;
}

.flowchart {
  list-style: none;
  padding: 0;
  margin: 0;
  li ul li {
    text-align: center !important;
    border: 1px solid $grey-4;
  }
  @include media($extra-small) {
    margin-left: 10%;
  }
  @include media($medium) {
    margin-left: 0;
  }
}

.connector {
  content: "";
  display: block;
  position: absolute;
  z-index: 100;
}

.stm {
  margin-top: 57px;
}

.stm--small {
  margin-top: 25px;
}

/* Step 0 */

.st0 {
  order: 1;
}

.st0:before {
  @extend .connector;
  @include media($extra-small) {
    @include step_connector(190px, 30px, 50%, -30px);
    border-top: 3px solid $grey-3;
    border-left: 3px solid $grey-3;
  }
  @include media($medium) {
    @include step_connector(30px, 0, 100%, 49%);
    border-left: 3px solid $grey-3;
  }
}

.st0:after {
  @extend .connector;
  @include media($medium) {
    @include step_connector(30px, 89.8%, 100%, 5%);
    border-bottom: 3px solid $grey-3;
  }
}

/* Step 1 */

.st1 {
  @include media($extra-small) {
    order: 3;
  }
  @include media($medium) {
    order: 1;
  }
}

.st1-1:before  {
  @extend .connector;
  @include media($extra-small) {
    @include step_connector(30px, 30px, 50%, -30px);
    border-top: 3px solid $grey-3;
  }
  @include media($medium) {
    @include step_connector(30px, 0, -48%, 10.4%);
    border-left: 3px solid $grey-3;
  }
}

.st1-1:after  {
  @extend .connector;
  @include media($medium) {
    @include step_connector(30px, 113%, 100%, 10.4%);
    border-left: 3px solid $grey-3;
    border-bottom: 3px solid $grey-3;
  }
}

.st1-2 {
  @include media($extra-small) {
    order: 2;
  }
  @include media($medium) {
    order: 1;
    margin-right: 0 !important;
    width: 51.1% !important;
  }
}

.st1-2:before  {
  @extend .connector;
  @include media($extra-small) {
    @include step_connector(30px, 30px, 50%, -30px);
    border-top: 3px solid $grey-3;
  }
  @include media($medium) {
    @include step_connector(30px, 0, -48%, 90%);
    border-left: 3px solid $grey-3;
  }
}

.st1-2:after  {
  @extend .connector;
  @include step_connector(30px, 63.5%, 100%, 26.5%);
  border-right: 3px solid $grey-3;
  border-bottom: 3px solid $grey-3;
}

/* Step 2 */

.st2-1:before  {
  @extend .connector;
  @include step_connector(30px, 0, -35px, 50%);
  border-left: 3px solid $grey-3;
}

.st2-1:after  {
  @extend .connector;
  @include step_connector(30px, 65%, 100%, 50%);
  border-left: 3px solid $grey-3;
}

.st2-2:before  {
  @extend .connector;
  @include step_connector(30px, 0, -35px, 50%);
  border-left: 3px solid $grey-3;
}

.st2-2:after  {
  @extend .connector;
  @include step_connector(30px, 65%, 100%, 50%);
  border-left: 3px solid $grey-3;
}

.st2-3:before  {
  @extend .connector;
  @include step_connector(30px, 40px, -35px, 35.5%);
  border-left: 3px solid $grey-3;
  border-right: 3px solid $grey-3;
}

.st2-3:after  {
  @extend .connector;
  @include step_connector(30px, 65%, 100%, 46.5%);
  border-left: 3px solid $grey-3;
}

.st2-4 {
  margin-right: 0 !important;
}

.st2-4:before  {
  @extend .connector;
  @include step_connector(30px, 0, -35px, 46%);
  border-left: 3px solid $grey-3;
}

.st2-4:after  {
  @extend .connector;
  @include step_connector(30px, 65%, 100%, 46%);
  border-left: 3px solid $grey-3;
}

/* Step 3 */

.st3-2:after  {
  @extend .connector;
  @include step_connector(30px, 65%, 100%, 50%);
  border-left: 3px solid $grey-3;
}

.st3-3:after  {
  @extend .connector;
  @include step_connector(30px, 65%, 100%, 46.5%);
  border-left: 3px solid $grey-3;
}

.st3-4 {
  margin-right: 0 !important;
}

.st3-4:after  {
  @extend .connector;
  @include step_connector(30px, 65%, 100%, 46%);
  border-left: 3px solid $grey-3;
}

/* Step 4 */

.st4-1 {
  visibility: hidden;
}

.st4-2:after  {
  @extend .connector;
  @include step_connector(30px, 65%, 100%, 50%);
  border-left: 3px solid $grey-3;
}

.st4-3:after  {
  @extend .connector;
  @include step_connector(30px, 65%, 100%, 46.5%);
  border-left: 3px solid $grey-3;
}

.st4-4 {
  margin-right: 0 !important;
}

.st4-4:after  {
  @extend .connector;
  @include step_connector(110%, 65%, 100%, 46%);
  border-left: 3px solid $grey-3;
}

/* Step 5 */

.st5-1 {
  visibility: hidden;
}

.st5-2:after  {
  @extend .connector;
  @include step_connector(62px, 65%, 100%, 50%);
  border-left: 3px solid $grey-3;
}

.st5-3:after  {
  @extend .connector;
  @include step_connector(30px, 103%, 100%, 46%);
  border-left: 3px solid $grey-3;
  border-bottom: 3px solid $grey-3;
}

.st5-4 {
  margin-right: 0 !important;
  visibility: hidden;
}

/* Step 6 */

.st6-1 {
  visibility: hidden;
}


.st6-2:after  {
  @extend .connector;
  @include step_connector(425px, 65%, 100%, 50%);
  border-left: 3px solid $grey-3;
}

.st6-3 {
  width: 48.9% !important;
}

.st6-3:before  {
  @extend .connector;
  @include step_connector(30px, 0, -35px, 48%);
  border-left: 3px solid $grey-3;
}

.st6-4 {
  display: none !important;
}

/* Step 7 */

.st7-1 {
  visibility: hidden;
}

.st7-2 {
  visibility: hidden;
}

.st7-3 {
  width: 48.9% !important;
}

.st7-3:before  {
  @extend .connector;
  @include step_connector(30px, 0, -49%, 48%);
  border-left: 3px solid $grey-3;
}

.st7-4 {
  display: none !important;
}

/* Step 8 */

.st8-1 {
  visibility: hidden;
}

.st8-2 {
  visibility: hidden;
}

.st8-3 {
  width: 48.9% !important;
}

.st8-3:before  {
  @extend .connector;
  @include step_connector(30px, 0, -49%, 48%);
  border-left: 3px solid $grey-3;
}

.st8-4 {
  display: none !important;
}

/* Step 9 */

.st9-1 {
  visibility: hidden;
}

.st9-2 {
  visibility: hidden;
}

.st9-3 {
  width: 48.9% !important;
}

.st9-3:before  {
  @extend .connector;
  @include step_connector(30px, 0, -32px, 48%);
  border-left: 3px solid $grey-3;
}

.st9-4 {
  display: none !important;
}

/* Step 10 */

.st10-1 {
  visibility: hidden;
}

.st10-2 {
  visibility: hidden;
}

.st10-3 {
  width: 48.9% !important;
}

.st10-3:before  {
  @extend .connector;
  @include step_connector(30px, 0, -49%, 48%);
  border-left: 3px solid $grey-3;
}

.st10-3:after  {
  @extend .connector;
  @include step_connector(30px, 75%, 100%, -26.5%);
  border-right: 3px solid $grey-3;
  border-bottom: 3px solid $grey-3;
}

.st10-4 {
  display: none !important;
}

/* Step 11 */

.st11-1 {
  visibility: hidden;
}

.st11-2 {
  width: 48.9% !important;
}

.st11-2:before  {
  @extend .connector;
  @include step_connector(33px, 0, -39%, 48%);
  border-left: 3px solid $grey-3;
}

.st11-3 {
  visibility: hidden;
}

.st11-4 {
  display: none !important;
}

/* Step 12 */

.st12-1 {
  visibility: hidden;
}

.st12-2 {
  width: 48.9% !important;
}

.st12-2:before  {
  @extend .connector;
  @include step_connector(30px, 0, -49%, 48%);
  border-left: 3px solid $grey-3;
}

.st12-3 {
  visibility: hidden;
}

.st12-4 {
  display: none !important;
}


/* --- GRID --- */

@mixin step_grid ($c, $g) {
  display: grid;
  grid-template-columns: repeat($c, 1fr);
  grid-gap: $g;
  margin: 0 auto 2em auto;
  padding: 0;
}

.step-container {
  list-style: none;
  padding: 0;
  margin: 0;
}

.step-connector {
  content: "";
  position: absolute;
  display: block;
  z-index: 1;
}

.step-item {
  display: flex;
  align-items: center;
  list-style: none;
  margin-left: 0;
  font-size: 0.625em;
  padding: 0.35em;
  background-color: $white;
  z-index: 10;
}

/* --- Step Grids --- */

.step-grid {
  @include step_grid(8, 0.5em)
}

/* --- Step 0 --- */

.step-0 {
  @extend .step-item;
  grid-column-start: 3;
  grid-column-end: 7;
  height: 50px;
}

/* --- Step 1 --- */

.step-1-1 {
  @extend .step-item;
  grid-column-start: 1;
  grid-column-end: 5;
  height: 50px;
}

.step-1-1:before {
  @extend .step-connector;
  @include step_connector(3.25em, 0, 8.25em, 42%);
  border-right: 3px solid $grey-3;
}

.step-1-1:after {
  @extend .step-connector;
  @include step_connector(1.75em, 63%, 15.5em, 15%);
  border-left: 3px solid $grey-3;
  border-bottom: 3px solid $grey-3;
}

.step-1-2 {
  @extend .step-item;
  grid-column-start: 5;
  grid-column-end: 9;
  height: 50px;
}

.step-1-2:before {
  @extend .step-connector;
  @include step_connector(3.25em, 0, 8.25em, 58%);
  border-left: 3px solid $grey-3;
}

.step-1-2:after {
  @extend .step-connector;
  @include step_connector(3.25em, 11.5%, 15.5em, 78%);
  border-left: 3px solid $grey-3;
  border-right: 3px solid $grey-3;
}

/* --- Step 2 --- */

.step-2-1 {
  @extend .step-item;
  grid-column-start: 2;
  grid-column-end: 3;
}

.step-2-1:before {
  @extend .step-connector;
  @include step_connector(1.5em, 0, 17.25em, 21%);
  border-right: 3px solid $grey-3;
}

.step-2-1:after {
  @extend .step-connector;
  @include step_connector(1.75em, 34%, 25.9em, 10%);
  border-bottom: 3px solid $grey-3;
}

.step-2-2 {
  @extend .step-item;
  grid-column-start: 4;
  grid-column-end: 5;
}

.step-2-2:before {
  @extend .step-connector;
  @include step_connector(1.5em, 0, 17.25em, 44%);
  border-right: 3px solid $grey-3;
}

.step-2-3 {
  @extend .step-item;
  grid-column-start: 6;
  grid-column-end: 7;
}

.step-2-3:before {
  @extend .step-connector;
  @include step_connector(1.5em, 0, 17.25em, 67%);
  border-right: 3px solid $grey-3;
}

.step-2-3:after {
  @extend .step-connector;
  @include step_connector(17.3em, 2em, 22.25em, 49.7%);
  border-right: 3px solid $grey-3;
  border-top: 3px solid $grey-3;
  border-bottom: 3px solid $grey-3;
}

.step-2-4 {
  @extend .step-item;
  grid-column-start: 7;
  grid-column-end: 8;
}

.step-2-5 {
  @extend .step-item;
  grid-column-start: 8;
  grid-column-end: 9;
}

/* --- Step 3 --- */

.step-3-1 {
  @extend .step-item;
  grid-column-start: 1;
  grid-column-end: 2;
}

.step-3-1:before {
  @extend .step-connector;
  @include step_connector(1.6em, 0, 27.4em, 10%);
  border-right: 3px solid $grey-3;
}

.step-3-2 {
  @extend .step-item;
  grid-column-start: 2;
  grid-column-end: 3;
}

.step-3-2:before {
  @extend .step-connector;
  @include step_connector(3.125em, 0, 25.9em, 21%);
  border-right: 3px solid $grey-3;
}

.step-3-3 {
  @extend .step-item;
  grid-column-start: 3;
  grid-column-end: 4;
}

.step-3-3:before {
  @extend .step-connector;
  @include step_connector(1.6em, 0, 27.4em, 33%);
  border-right: 3px solid $grey-3;
}

.step-3-4 {
  @extend .step-item;
  grid-column-start: 4;
  grid-column-end: 5;
}

.step-3-4:before {
  @extend .step-connector;
  @include step_connector(1.6em, 0, 27.4em, 44%);
  border-right: 3px solid $grey-3;
}

.step-3-5 {
  @extend .step-item;
  grid-column-start: 6;
  grid-column-end: 7;
}

.step-3-5:before {
  @extend .step-connector;
  @include step_connector(3.125em, 0, 25.9em, 67%);
  border-left: 3px solid $grey-3;
}

.step-3-6 {
  @extend .step-item;
  grid-column-start: 7;
  grid-column-end: 8;
}

.step-3-6:before {
  @extend .step-connector;
  @include step_connector(3.125em, 0, 25.9em, 78%);
  border-left: 3px solid $grey-3;
}

.step-3-7 {
  @extend .step-item;
  grid-column-start: 8;
  grid-column-end: 9;
}

.step-3-7:before {
  @extend .step-connector;
  @include step_connector(3.125em, 0, 25.9em, 89.3%);
  border-left: 3px solid $grey-3;
}

/* --- Step 4 --- */

.step-4-1 {
  @extend .step-item;
  grid-column-start: 2;
  grid-column-end: 3;
}

.step-4-1:before {
  @extend .step-connector;
  @include step_connector(1.6em, 28em, 39.3em, 21.5%);
  border-left: 3px solid $grey-3;
  border-top: 3px solid $grey-3;
}

.step-4-1:after {
  @extend .step-connector;
  @include step_connector(3.2em, 0, 49.7em, 21.5%);
  border-left: 3px solid $grey-3;
}

.step-4-2 {
  @extend .step-item;
  grid-column-start: 3;
  grid-column-end: 4;
}

.step-4-2:before {
  @extend .step-connector;
  @include step_connector(1.6em, 0, 39.3em, 33%);
  border-left: 3px solid $grey-3;
}

.step-4-2:after {
  @extend .step-connector;
  @include step_connector(3.2em, 0, 49.7em, 33%);
  border-left: 3px solid $grey-3;
}

.step-4-3 {
  @extend .step-item;
  grid-column-start: 4;
  grid-column-end: 5;
}

.step-4-3:before {
  @extend .step-connector;
  @include step_connector(1.6em, 0, 39.3em, 44%);
  border-left: 3px solid $grey-3;
}

.step-4-4 {
  @extend .step-item;
  grid-column-start: 6;
  grid-column-end: 7;
}

.step-4-4:before {
  @extend .step-connector;
  @include step_connector(3.125em, 0, 37.8em, 67%);
  border-left: 3px solid $grey-3;
}

.step-4-5 {
  @extend .step-item;
  grid-column-start: 7;
  grid-column-end: 8;
}

.step-4-5:before {
  @extend .step-connector;
  @include step_connector(3.125em, 0, 37.8em, 78%);
  border-left: 3px solid $grey-3;
}

.step-4-6 {
  @extend .step-item;
  grid-column-start: 8;
  grid-column-end: 9;
}

.step-4-6:before {
  @extend .step-connector;
  @include step_connector(3.125em, 0, 37.8em, 89.3%);
  border-left: 3px solid $grey-3;
}

/* --- Step 5 --- */

.step-5-1 {
  @extend .step-item;
  grid-column-start: 2;
  grid-column-end: 3;
}

.step-5-1:after {
  @extend .step-connector;
  @include step_connector(1.6em, 11.4em, 60.1em, 21.3%);
  border-left: 3px solid $grey-3;
  border-right: 3px solid $grey-3;
  border-bottom: 3px solid $grey-3;
}

.step-5-2 {
  @extend .step-item;
  grid-column-start: 3;
  grid-column-end: 4;
}

.step-5-3 {
  @extend .step-item;
  grid-column-start: 7;
  grid-column-end: 8;
}

.step-5-3:before {
  @extend .step-connector;
  @include step_connector(3.125em, 0, 49.7em, 78%);
  border-left: 3px solid $grey-3;
}


/* --- Step 6 --- */

.step-6-1 {
  @extend .step-item;
  grid-column-start: 2;
  grid-column-end: 4;
}

.step-6-1:before {
  @extend .step-connector;
  @include step_connector(1.8em, 0, 61.4em, 27%);
  border-left: 3px solid $grey-3;
}

.step-6-1:after {
  @extend .step-connector;
  @include step_connector(31.95em, 0, 69em, 27%);
  border-left: 3px solid $grey-3;
}

.step-6-2 {
  @extend .step-item;
  grid-column-start: 7;
  grid-column-end: 8;
}

.step-6-2:before {
  @extend .step-connector;
  @include step_connector(3.125em, 0, 60.1em, 78%);
  border-left: 3px solid $grey-3;
}

.step-6-2:after {
  @extend .step-connector;
  @include step_connector(3.125em, 0, 69em, 78%);
  border-left: 3px solid $grey-3;
}

.step-6-3 {
  @extend .step-item;
  grid-column-start: 8;
  grid-column-end: 9;
}

.step-6-3:before {
  @extend .step-connector;
  @include step_connector(3.125em, 0.8em, 65.8em, 83.7%);
  border-top: 3px solid $grey-3;
}

/* --- Step 7 --- */

.step-7-1 {
  @extend .step-item;
  grid-column-start: 4;
  grid-column-end: 5;
}

.step-7-1:before {
  @extend .step-connector;
  @include step_connector(1.375em, 0.8em, 74.2em, 49.6%);
  border-top: 3px solid $grey-3;
}

.step-7-2 {
  @extend .step-item;
  grid-column-start: 5;
  grid-column-end: 6;
}

.step-7-2:before {
  @extend .step-connector;
  @include step_connector(1.375em, 34em, 70.8em, 55.4%);
  border-top: 3px solid $grey-3;
  border-left: 3px solid $grey-3;
  border-right: 3px solid $grey-3;
}

.step-7-3 {
  @extend .step-item;
  grid-column-start: 7;
  grid-column-end: 8;
}

.step-7-4 {
  @extend .step-item;
  grid-column-start: 8;
  grid-column-end: 9;
}

/* --- Step 8 --- */

.step-8-1 {
  @extend .step-item;
  grid-column-start: 5;
  grid-column-end: 6;
}

.step-8-1:before {
  @extend .step-connector;
  @include step_connector(3.125em, 0, 76.4em, 55.4%);
  border-left: 3px solid $grey-3;
}

.step-8-2 {
  @extend .step-item;
  grid-column-start: 6;
  grid-column-end: 7;
}

.step-8-2:before {
  @extend .step-connector;
  @include step_connector(8.4em, 0, 71em, 66.6%);
  border-left: 3px solid $grey-3;
}

.step-8-3 {
  @extend .step-item;
  grid-column-start: 7;
  grid-column-end: 8;
}

.step-8-3:before {
  @extend .step-connector;
  @include step_connector(3.125em, 0, 76.4em, 78%);
  border-left: 3px solid $grey-3;
}

.step-8-4 {
  @extend .step-item;
  grid-column-start: 8;
  grid-column-end: 9;
}

.step-8-4:before {
  @extend .step-connector;
  @include step_connector(3.125em, 0, 76.4em, 90%);
  border-left: 3px solid $grey-3;
}

.step-8-4:after {
  @extend .step-connector;
  @include step_connector(1.375em, 21.6em, 78.1em, 68.1%);
  border-top: 3px solid $grey-3;
  border-left: 3px solid $grey-3;
  border-right: 3px solid $grey-3;
}


/* --- Step 9 --- */

.step-9-1 {
  @extend .step-item;
  grid-column-start: 5;
  grid-column-end: 6;
}

.step-9-1:before {
  @extend .step-connector;
  @include step_connector(3.125em, 0, 83.7em, 55.4%);
  border-left: 3px solid $grey-3;
}

.step-9-1:after {
  @extend .step-connector;
  @include step_connector(1.375em, 31em, 91em, 55.4%);
  border-bottom: 3px solid $grey-3;
  border-left: 3px solid $grey-3;
  border-right: 3px solid $grey-3;
}

.step-9-2 {
  @extend .step-item;
  grid-column-start: 6;
  grid-column-end: 7;
}

.step-9-2:before {
  @extend .step-connector;
  @include step_connector(3.125em, 0, 83.7em, 66.6%);
  border-left: 3px solid $grey-3;
}

.step-9-3 {
  @extend .step-item;
  grid-column-start: 7;
  grid-column-end: 8;
}

.step-9-3:before {
  @extend .step-connector;
  @include step_connector(1.375em, 0, 85.=5em, 78.4%);
  border-left: 3px solid $grey-3;
}

.step-9-3:after {
  @extend .step-connector;
  @include step_connector(1.375em, 0, 89.8em, 78.4%);
  border-left: 3px solid $grey-3;
}

.step-9-4 {
  @extend .step-item;
  grid-column-start: 8;
  grid-column-end: 9;
}

.step-9-4:before {
  @extend .step-connector;
  @include step_connector(1.375em, 21.6em, 85.5em, 68.1%);
  border-top: 3px solid $grey-3;
  border-left: 3px solid $grey-3;
  border-right: 3px solid $grey-3;
}

.step-9-4:after {
  @extend .step-connector;
  @include step_connector(12em, 0, 89.8em, 90%);
  border-left: 3px solid $grey-3;
}

/* --- Step 10 --- */

.step-10 {
  @extend .step-item;
  grid-column-start: 6;
  grid-column-end: 7;
}

.step-10:before {
  @extend .step-connector;
  @include step_connector(3.125em, 0, 89.8em, 66.6%);
  border-left: 3px solid $grey-3;
}

.step-10:after {
  @extend .step-connector;
  @include step_connector(1.425em, 0, 98.5em, 66.6%);
  border-left: 3px solid $grey-3;
}


/* --- Step 11 --- */

.step-11-1 {
  @extend .step-item;
  grid-column-start: 1;
  grid-column-end: 3;
  min-height: 50px;
}

.step-11-1:before {
  @extend .step-connector;
  @include step_connector(1.75em, 12%, 99.9em, 15%);
  border-left: 3px solid $grey-3;
  border-top: 3px solid $grey-3;
}

.step-11-1:after {
  @extend .step-connector;
  @include step_connector(1.75em, 36%, 105.7em, 15%);
  border-left: 3px solid $grey-3;
  border-bottom: 3px solid $grey-3;
}

.step-11-2 {
  @extend .step-item;
  grid-column-start: 3;
  grid-column-end: 7;
  min-height: 50px;
}

.step-11-2:before {
  @extend .step-connector;
  @include step_connector(1.75em, 39.9%, 99.9em, 27%);
  border-top: 3px solid $grey-3;
}

.step-11-2:after {
  @extend .step-connector;
  @include step_connector(7.5em, 0, 99.9em, 51%);
  border-left: 3px solid $grey-3;
}

.step-11-3 {
  @extend .step-item;
  grid-column-start: 7;
  grid-column-end: 9;
  min-height: 50px;
}

.step-11-3:before {
  @extend .step-connector;
  @include step_connector(1.75em, 18%, 99.9em, 66.8%);
  border-right: 3px solid $grey-3;
  border-top: 3px solid $grey-3;
}


/* --- Step 12 --- */

.step-12 {
  @extend .step-item;
  grid-column-start: 4;
  grid-column-end: 6;
  min-height: 50px;
}

/* --- Step 12 --- */

.step-13 {
  @extend .step-item;
  grid-column-start: 4;
  grid-column-end: 6;
  min-height: 50px;
}

/* --- Step Styles --- */

.external {
  border: solid 3px $grey-3;
}

.commons {
  border: solid 3px $commons;
}

.lords {
  border: solid 3px $lords;
}

.joint {
  border: solid 3px $purple;
}
