extends ../../layouts/layout-beta.pug

block content
  #content.section--primary
    .container
      h1 [Procedure] [Statutory Instrument] in progress
      p This is a list of all [Procedure] [Statutory Instrument] currently laid before Parliament

  section
    .container
      ol.list--block
        li
          .list--details
            h2 #[+link('negative.html', '[Work Package]')]
            p [Date] [Laying into Commons] [Laying into Lords]
            p [Concept] || [Government Department] || [Parent Act]
        li
          .list--details
            h2 #[+link('negative.html', '[Work Package]')]
            p [Date] [Laying into Commons] [Laying into Lords]
            p [Concept] || [Government Department] || [Parent Act]
        li
          .list--details
            h2 #[+link('negative.html', '[Work Package]')]
            p [Date] [Laying into Commons] [Laying into Lords]
            p [Concept] || [Government Department] || [Parent Act]
        li
          .list--details
            h2 #[+link('negative.html', '[Work Package]')]
            p [Date] [Laying into Commons] [Laying into Lords]
            p [Concept] || [Government Department] || [Parent Act]
        li
          .list--details
            h2 #[+link('negative.html', '[Work Package]')]
            p [Date] [Laying into Commons] [Laying into Lords]
            p [Concept] || [Government Department] || [Parent Act]
