extends ../../layouts/layout-beta.pug

block content
  #content.section--primary
    .container
      p.hint.theme--white #[+link('negative-list.html', 'In progress (current)')]
      h1 [Work Package Name]
      p [SI Number]

      .status--highlight
        p Objections until [Clock Ends]

  section
    .container
      h2 About the [Statutory Instrument]
      p This is a [Procedure] [Statutory Instrument] originating from [Government Department]. To read the full document visit [explanatoryMemorandumURL].

  section
    .container
      h2 Completed steps
      .track--alternative
        h3 [Date]
        ul.list--block
          li
            .list--details
              p [Fatal Motion]
              p #[+link('#', '[Link to fatal motion]')]
        h3 [Date]
        ul.list--block
          li
            .list--details
              p [EVEL Consideration]
              p #[+link('#', '[Link to EVEL certificate]')]
        h3 [Date]
        ul.list--block
          li
            .list--details
              p [SLSC Cleared] or [SLSC Reported]
              p #[+link('#', '[Link to SLSC report]')]
        h3 [Date]
        ul.list--block
          li
            .list--details
              p [JCSI Cleared] or [JCSI Reported]
              p #[+link('#', '[Link to JCSI report]')]
        h3 [Date]
        ul.list--block
          li
            .list--details
              p [Laying into Commons] & [Laying into Lords] by [Government Department]

  section
    .container
      .block--border__bottom
        h2 Possible upcoming steps
        p Explanatory content on how the [Procedure] procedure works and a general outline of possibilities in both Commons and Lords.

  section
    .container
      h2.sr-only Parliamentary session
      p [Parliament Session]
