extends ../../layouts/layout-beta.pug

block content
  #content.section--primary
    .container
      p.hint.theme--white #[+link('negative-list.html', 'In progress (current)')]
      h1 [Work Package Name]
      p Number [SI Number]

      .status--highlight
        p The objection period for this statutory instrument ends on [Clock Ends]

  section
    .container
      h2 About the [Statutory Instrument]
      p This is a [Procedure] [Statutory Instrument] laid by the [Government Department].
      p To read the SI, its purpose and related information, visit the [explanatoryMemorandumURL].

  section
    .container
      h2 Completed steps
      .track--alternative
        h3 [Date]
        ul.list--block
          li
            .list--details
              p [Fatal Motion]
              p #[+link('#', '[Read the fatal motion]')]
        h3 [Date]
        ul.list--block
          li
            .list--details
              p [EVEL Consideration]
        h3 [Date]
        ul.list--block
          li
            .list--details
              p [SLSC Cleared] or [SLSC Reported]
              p #[+link('#', '[Read the SLSC report]')]
        h3 [Date]
        ul.list--block
          li
            .list--details
              p [JCSI Cleared] or [JCSI Reported]
              p #[+link('#', '[Read the JCSI report]')]
        h3 [Date]
        ul.list--block
          li
            .list--details
              p [Laying into Commons] & [Laying into Lords]

  section
    .container
      h2 Upcoming stages
      p The process an SI follows depends on the outcome of certain stages, so upcoming stages may change.
